NodeRed Flow/flow_labIoT_26_04_2022.json
[{"id":"b0823cca61e55da7","type":"tab","label":"Sensing and Database Node","disabled":false,"info":"","env":[]},{"id":"68677633e139a729","type":"tab","label":"Robotic Node","disabled":false,"info":"","env":[]},{"id":"82d42660d61c1509","type":"tab","label":"Flow 5","disabled":false,"info":"","env":[]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"raspberrypi","port":"1883","tls":"7e5d8e758d6a1640","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e5d8e758d6a1640","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"mosq_client.pem","keyname":"mosq_client.key.pem","caname":"mosq_ca.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"17522d42.149913","type":"ui_tab","name":"Robotic Node","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"92518872.4d2bc8","type":"ui_group","name":"Conveyor","tab":"17522d42.149913","order":1,"disp":true,"width":"3","collapse":true,"className":""},{"id":"a3844e43954f45e7","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#f88920","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#f88920","edited":true},"page-titlebar-backgroundColor":{"value":"#f88920","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#fab06a","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#f88920","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"46995d18ea56d5e9","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"warehouse","tz":"","charset":"UTF8"},{"id":"75c207ea7de8d2ad","type":"ui_group","name":"Robotic Arm Control","tab":"17522d42.149913","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"4d9f07f5ae42afac","type":"ui_group","name":"Database Table","tab":"67ff17e9.83751","order":2,"disp":true,"width":14,"collapse":true,"className":""},{"id":"d68e7be3.88f088","type":"ui_group","name":"QR Code / Event Log","tab":"67ff17e9.83751","order":4,"disp":true,"width":"5","collapse":true,"className":""},{"id":"54bca71e.4287f","type":"ui_group","name":"Add Product","tab":"67ff17e9.83751","order":1,"disp":true,"width":6,"collapse":true,"className":""},{"id":"67ff17e9.83751","type":"ui_tab","name":"Logistics","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"6eb2a5.27c0255c","type":"ui_group","name":"Commands","tab":"67ff17e9.83751","order":3,"disp":true,"width":5,"collapse":true,"className":""},{"id":"b572048ea1e99b76","type":"ui_group","name":"Robotic Car Control","tab":"17522d42.149913","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"9eb19ca7ae6787ba","type":"ui_group","name":"QR Code","tab":"b0be4e53a8318c60","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0be4e53a8318c60","type":"ui_tab","name":"QR Code Generator","icon":"dashboard","disabled":false,"hidden":false},{"id":"aa0ed3a6ee746497","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"d68e7be3.88f088","order":2,"width":5,"height":1},{"id":"34e1ed7bd5bbe7ba","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"6eb2a5.27c0255c","order":1,"width":"1","height":"5"},{"id":"f846bf7d4708b68e","type":"http request","z":"b0823cca61e55da7","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.4/capture","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":310,"y":500,"wires":[["6c032dc0b33c4406"]]},{"id":"f4586c93739862be","type":"mqtt in","z":"b0823cca61e55da7","name":"Camera","topic":"camera/capture","qos":"0","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":119,"y":493,"wires":[["f846bf7d4708b68e"]]},{"id":"c86af8cd4e54433f","type":"comment","z":"b0823cca61e55da7","name":"QR Code Scanner","info":"\n    ","x":170,"y":440,"wires":[]},{"id":"df4ebd44a6ecd43f","type":"Barcode Decoder","z":"b0823cca61e55da7","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":930,"y":500,"wires":[["b45326c09a13b49c","a76668b6c58d736d","40d308a3da945a2c"]]},{"id":"b45326c09a13b49c","type":"debug","z":"b0823cca61e55da7","name":"See output on debug sidebar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1209,"y":493,"wires":[]},{"id":"801f3b7ca4d1f8a3","type":"jimp-image","z":"b0823cca61e55da7","name":"clean up image","data":"payload","dataType":"msg","ret":"img","parameter1":"-1.0","parameter1Type":"num","parameter2":"240","parameter2Type":"none","parameter3":"","parameter3Type":"none","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":0,"jimpFunction":"normalize","selectedJimpFunction":{"name":"normalize","fn":"normalize","description":"normalize the channels in an image","parameters":[]},"x":720,"y":500,"wires":[["df4ebd44a6ecd43f"]],"icon":"font-awesome/fa-image"},{"id":"6c032dc0b33c4406","type":"image viewer","z":"b0823cca61e55da7","name":"","width":"100","data":"payload","dataType":"msg","active":true,"x":510,"y":500,"wires":[["801f3b7ca4d1f8a3"]]},{"id":"317314f1164b1589","type":"mqtt in","z":"b0823cca61e55da7","name":"Radar","topic":"radar/conveyor","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":160,"wires":[["781e08802704bbb5","bd5d8c4743114f33","462eb6f20fcfea2d","67429e1ec8604623","a9a17a6fe6d624c0","58c5ef2f3cabe6f6"]]},{"id":"781e08802704bbb5","type":"mqtt out","z":"b0823cca61e55da7","name":"Conveyor","topic":"radar/conveyor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":400,"y":60,"wires":[]},{"id":"bd5d8c4743114f33","type":"ui_led","z":"b0823cca61e55da7","order":1,"group":"92518872.4d2bc8","width":"0","height":"0","label":"Conveyor 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"First Conveyor","x":440,"y":120,"wires":[]},{"id":"462eb6f20fcfea2d","type":"ui_led","z":"b0823cca61e55da7","order":2,"group":"92518872.4d2bc8","width":0,"height":0,"label":"Conveyor 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Second Conveyor","x":450,"y":160,"wires":[]},{"id":"67429e1ec8604623","type":"ui_led","z":"b0823cca61e55da7","order":3,"group":"92518872.4d2bc8","width":0,"height":0,"label":"Conveyor 3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Thirth Conveyor","x":440,"y":200,"wires":[]},{"id":"a9a17a6fe6d624c0","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"classes","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"58c5ef2f3cabe6f6","type":"delay","z":"b0823cca61e55da7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":420,"y":280,"wires":[["82843fbd8b5af8ad"]]},{"id":"82843fbd8b5af8ad","type":"mqtt out","z":"b0823cca61e55da7","name":"PickAndPlace","topic":"robotics/value","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":620,"y":280,"wires":[]},{"id":"9ca2f49f5a96f975","type":"comment","z":"b0823cca61e55da7","name":"Conveyor Node","info":"\n    ","x":120,"y":100,"wires":[]},{"id":"6bfe6c28c259a22b","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":899,"y":853,"wires":[["a590ac8c0a5232ac","b4a5b3637bc142db"]]},{"id":"a590ac8c0a5232ac","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1094,"y":797,"wires":[]},{"id":"eabf67af5beee995","type":"function","z":"b0823cca61e55da7","name":"Insert","func":"msg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":1400,"wires":[[]]},{"id":"ad0e0af17b960fb0","type":"inject","z":"b0823cca61e55da7","name":"INSERT Bind - via JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"INSERT INTO products (Name, Number, Description, Area) VALUES (?, ?, ?, ?)","payload":"[\"CIAO BELLA\", \"1313ASDJE\", \"Una papera\", \"Zone1\"]","payloadType":"str","x":190,"y":1480,"wires":[["1366fdeac3417e19"]]},{"id":"1366fdeac3417e19","type":"json","z":"b0823cca61e55da7","name":"","property":"payload","action":"","pretty":false,"x":130,"y":1520,"wires":[[]]},{"id":"bbdcd9a6f53fcbab","type":"function","z":"b0823cca61e55da7","name":"INSERT INTO","func":"//msg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\n//return msg;\n\nvar name = msg.payload.productName;\nvar number = msg.payload.serialNumber;\nvar description = msg.payload.productDescription;\nvar area = msg.payload.productArea;\n\nmsg.payload = [name, number, description, area];\nmsg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES (?, ?, ?, ?);\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":880,"wires":[["6bfe6c28c259a22b","ad4f1c61372e00bb"]]},{"id":"3150bff6d3161a19","type":"function","z":"b0823cca61e55da7","name":"","func":"msg.topic = \"SELECT * FROM products WHERE Name LIKE ?\";\nmsg.payload = [msg.payload.text];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":1440,"wires":[[]]},{"id":"573d0e1e89e7c8c3","type":"comment","z":"b0823cca61e55da7","name":"DATABASE FLOW","info":"\n    ","x":910,"y":760,"wires":[]},{"id":"a8c4e1ca26da8210","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM ADD PRODUCT","group":"54bca71e.4287f","order":1,"width":6,"height":1,"options":[{"label":"Product Name","value":"productName","type":"text","required":true,"rows":null},{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null},{"label":"Product Description","value":"productDescription","type":"text","required":true,"rows":null},{"label":"Product Area","value":"productArea","type":"text","required":true,"rows":null}],"formValue":{"productName":"","serialNumber":"","productDescription":"","productArea":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Form","topicType":"str","splitLayout":false,"className":"","x":190,"y":880,"wires":[["bbdcd9a6f53fcbab"]]},{"id":"6f0e37f359e5573d","type":"debug","z":"b0823cca61e55da7","name":"Dashboard Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1104,"y":937,"wires":[]},{"id":"ad4f1c61372e00bb","type":"function","z":"b0823cca61e55da7","name":"Save Events","func":"\n// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":894,"y":917,"wires":[["6f0e37f359e5573d","8099571f47a68b76"]]},{"id":"8099571f47a68b76","type":"ui_template","z":"b0823cca61e55da7","group":"d68e7be3.88f088","name":"Dashboard Event Log ","order":3,"width":5,"height":6,"format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1120,"y":900,"wires":[[]]},{"id":"1a3da59e6601e9f9","type":"ui_table","z":"b0823cca61e55da7","group":"4d9f07f5ae42afac","name":"","order":1,"width":14,"height":6,"columns":[],"outputs":0,"cts":false,"x":1370,"y":840,"wires":[]},{"id":"d39da7865c1ccd2b","type":"function","z":"b0823cca61e55da7","name":"search-query","func":"//msg.topic=\"SELECT CONCAT('M00','',test.id) AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nmsg.topic=\"SELECT test.id AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":1360,"wires":[[]]},{"id":"c871d3db5ad265d3","type":"ui_template","z":"b0823cca61e55da7","group":"d68e7be3.88f088","name":"","order":1,"width":0,"height":0,"format":"<div style=\"margin-bottom: 10px;\">\n<img src=\"http://192.168.1.4:81/stream\" width=\"250px\" height=\"250\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":540,"y":1200,"wires":[[]]},{"id":"a76668b6c58d736d","type":"mqtt out","z":"b0823cca61e55da7","name":"Release Object","topic":"robotics/release","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1180,"y":540,"wires":[]},{"id":"40d308a3da945a2c","type":"function","z":"b0823cca61e55da7","name":"DELETE","func":"var number = msg.payload.text;\nmsg.payload = [number];\nmsg.topic = \"DELETE FROM products WHERE Number = ?\";\nreturn msg;\n\n\n//msg.topic = \"DELETE FROM products WHERE Number = ?\";\n//msg.payload = [msg.payload.text];\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":800,"wires":[["6bfe6c28c259a22b"]]},{"id":"14f2c94f50fccd9e","type":"function","z":"b0823cca61e55da7","name":"SELECT","func":"msg.topic = \"SELECT * FROM products\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":840,"wires":[["6bfe6c28c259a22b"]]},{"id":"b4a5b3637bc142db","type":"function","z":"b0823cca61e55da7","name":"SELECT","func":"msg.topic = \"SELECT * FROM products\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":840,"wires":[["5cb68d21ebaeded0"]]},{"id":"5cb68d21ebaeded0","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":1230,"y":840,"wires":[["1a3da59e6601e9f9"]]},{"id":"12af7222ebcd84e5","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM DELETE PRODUCT","group":"54bca71e.4287f","order":2,"width":6,"height":1,"options":[{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null}],"formValue":{"serialNumber":""},"payload":"","submit":"Delete","cancel":"Cancel","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":180,"y":920,"wires":[["546e4ab77bfda83e"]]},{"id":"546e4ab77bfda83e","type":"function","z":"b0823cca61e55da7","name":"DELETE","func":"var number = msg.payload.serialNumber;\nmsg.payload = [number];\nmsg.topic = \"DELETE FROM products WHERE Number = ?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":920,"wires":[["6bfe6c28c259a22b"]]},{"id":"0dac98353f8354f9","type":"function","z":"b0823cca61e55da7","name":"","func":"\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":1320,"wires":[[]]},{"id":"71778beaa8c14df7","type":"ui_template","z":"b0823cca61e55da7","group":"9eb19ca7ae6787ba","name":"","order":1,"width":"6","height":"6","format":"<img src={{msg.payload}}>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":540,"y":1240,"wires":[[]]},{"id":"2441a17f4c126227","type":"qrcode-generator","z":"b0823cca61e55da7","name":"","qrtype":"text2qr","text2qrText":"","ssid":"ISHIELDS","hiddenssid":false,"wifitype":"WPA","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":390,"y":1240,"wires":[["71778beaa8c14df7"]]},{"id":"0fbed67b66ef5842","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM CREATE QR CODE","group":"9eb19ca7ae6787ba","order":1,"width":6,"height":1,"options":[{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null}],"formValue":{"serialNumber":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"msg.qrcodeinput","topicType":"str","splitLayout":false,"className":"","x":180,"y":1240,"wires":[["2441a17f4c126227"]]},{"id":"50c5ab7be1f663ad","type":"ui_button","z":"b0823cca61e55da7","name":"","group":"6eb2a5.27c0255c","order":2,"width":3,"height":1,"passthru":false,"label":"REFRESH","tooltip":"clear all table data","color":"","bgcolor":"","className":"","icon":"","payload":"refresh","payloadType":"str","topic":"","topicType":"str","x":230,"y":840,"wires":[["14f2c94f50fccd9e"]]},{"id":"8bd27afcbd7e2da4","type":"ui_button","z":"b0823cca61e55da7","name":"","group":"6eb2a5.27c0255c","order":3,"width":"3","height":1,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"start","payloadType":"str","topic":"","topicType":"str","x":140,"y":1200,"wires":[["c871d3db5ad265d3"]]},{"id":"b2b09f39.2ac5d","type":"inject","z":"b0823cca61e55da7","name":"Go","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":710,"y":1220,"wires":[["9b2cfd89.80b03"]]},{"id":"9b2cfd89.80b03","type":"function","z":"b0823cca61e55da7","name":"INSERT Data","func":"msg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1220,"wires":[[]]},{"id":"e4a98c17.08f2d","type":"inject","z":"b0823cca61e55da7","name":"Go","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":708,"y":1272,"wires":[[]]},{"id":"e4201ad4.996998","type":"inject","z":"b0823cca61e55da7","name":"Go","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"warehouse","payloadType":"str","x":710,"y":1440,"wires":[["be458293.0fb91"]]},{"id":"be458293.0fb91","type":"function","z":"b0823cca61e55da7","name":"SELECT Data","func":"msg.topic = \"SELECT * FROM department WHERE department_name LIKE '%\" + msg.payload + \"%'\";\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1440,"wires":[[]]},{"id":"9c203b7a.d31738","type":"inject","z":"b0823cca61e55da7","name":"INSERT Bind - via JSON","repeat":"","crontab":"","once":false,"topic":"INSERT INTO test (id,text) VALUES (?, ?)","payload":"[4, \"This is a funny world's end\"]","payloadType":"str","x":729,"y":1337,"wires":[["404656b9.7048b8"]]},{"id":"404656b9.7048b8","type":"json","z":"b0823cca61e55da7","name":"","x":929,"y":1337,"wires":[[]]},{"id":"421f97c2.5607f8","type":"inject","z":"b0823cca61e55da7","name":"Go \"Warehouse\"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"%Warehouse%","payloadType":"str","x":720,"y":1500,"wires":[["778ca316.16ea8c"]]},{"id":"778ca316.16ea8c","type":"function","z":"b0823cca61e55da7","name":"SELECT Data","func":"msg.topic = \"SELECT * FROM Department WHERE Department_Name LIKE ?\";\nmsg.payload = [msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1520,"wires":[[]]},{"id":"632ef9df.2db478","type":"inject","z":"b0823cca61e55da7","name":"Go \"MAnagers\"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"%Managers%","payloadType":"str","x":720,"y":1540,"wires":[["778ca316.16ea8c"]]},{"id":"88f58b45.552b48","type":"function","z":"b0823cca61e55da7","name":"Delete Bind","func":"msg.topic = \"Delete From department where Department_id = ?\";\nmsg.payload = [ \"6\"];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1380,"wires":[[]]},{"id":"8be8aa44.6b7868","type":"inject","z":"b0823cca61e55da7","name":"Go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":710,"y":1380,"wires":[["88f58b45.552b48"]]},{"id":"a2cac161.b5ebf","type":"function","z":"b0823cca61e55da7","name":"INSERT Data","func":"msg.topic = \"INSERT INTO department (department_name) VALUES (?)\";\nmsg.payload = [ \"test\"];\nreturn msg;\n\nmsg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1160,"wires":[[]]},{"id":"cabc5ca6.c3e37","type":"inject","z":"b0823cca61e55da7","name":"Go","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":710,"y":1160,"wires":[["a2cac161.b5ebf"]]},{"id":"34adfd8efcc12fa0","type":"function","z":"b0823cca61e55da7","name":"UPDATE","func":"msg.topic=\"UPDATE products SET Name='\" + msg.payload.productName + \"', Number='\" + msg.payload.serialNumber + \"', Description='\" + msg.payload.productDescription + \"', area='\" + msg.payload.productArea + \"' WHERE Number='\" + msg.payload.serialNumber + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":960,"wires":[["6bfe6c28c259a22b"]]},{"id":"61090c17d3186c07","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM UPDATE PRODUCT","group":"54bca71e.4287f","order":2,"width":6,"height":1,"options":[{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null},{"label":"","value":"productName","type":"text","required":true,"rows":null}],"formValue":{"serialNumber":"","productName":""},"payload":"","submit":"Update","cancel":"Cancel","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":180,"y":960,"wires":[["e594525d02e9ecf2"]]},{"id":"1864e71d98905876","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":1000,"wires":[]},{"id":"e594525d02e9ecf2","type":"function","z":"b0823cca61e55da7","name":"UPDATE","func":"var name = msg.payload.productName;\nvar number = msg.payload.serialNumber;\nvar description = msg.payload.productDescription;\nvar area = msg.payload.productArea;\n\nmsg.payload = [name, number, description, area, number];\n\nmsg.topic=\"UPDATE products SET Name=??, Number=??, Description=??, area=?? WHERE Number=?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1000,"wires":[["1864e71d98905876"]]},{"id":"145ff856c027dbcc","type":"ui_switch","z":"68677633e139a729","name":"","label":"Activate Robotic Arm","tooltip":"","group":"75c207ea7de8d2ad","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":100,"wires":[["592d8a0978c97ce7"]]},{"id":"1c2f8473da25bd21","type":"ui_slider","z":"68677633e139a729","name":"","label":"base","tooltip":"","group":"75c207ea7de8d2ad","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1390,"y":160,"wires":[["cc540a700940a18c"]]},{"id":"40b11ce4ddfcaabc","type":"ui_slider","z":"68677633e139a729","name":"","label":"shoulder","tooltip":"","group":"75c207ea7de8d2ad","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1400,"y":220,"wires":[["96abeeadb9d5b3c7"]]},{"id":"a7609a70666eeb76","type":"ui_slider","z":"68677633e139a729","name":"","label":"elbow","tooltip":"","group":"75c207ea7de8d2ad","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1390,"y":280,"wires":[["dff868e890542f2f"]]},{"id":"436181908d5a331e","type":"ui_slider","z":"68677633e139a729","name":"","label":"gripper","tooltip":"","group":"75c207ea7de8d2ad","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1400,"y":340,"wires":[["327d3170c1c2d2c4"]]},{"id":"592d8a0978c97ce7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/controller","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1650,"y":100,"wires":[]},{"id":"cc540a700940a18c","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/baseArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1630,"y":160,"wires":[]},{"id":"96abeeadb9d5b3c7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/shoulderArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1620,"y":220,"wires":[]},{"id":"dff868e890542f2f","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/elbowArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1630,"y":280,"wires":[]},{"id":"327d3170c1c2d2c4","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/gripperArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1620,"y":340,"wires":[]},{"id":"14997a7fc0babab9","type":"comment","z":"68677633e139a729","name":"ROBOTIC ARM CONTROL","info":"\n    ","x":1530,"y":60,"wires":[]},{"id":"68ba74cb73ae8b54","type":"ui_slider","z":"68677633e139a729","name":"","label":"RIGHT","tooltip":"","group":"b572048ea1e99b76","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":850,"y":160,"wires":[["3b4dc4333f4b6b66"]]},{"id":"8de3d8fc4995451d","type":"ui_slider","z":"68677633e139a729","name":"","label":"LEFT","tooltip":"","group":"b572048ea1e99b76","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":850,"y":220,"wires":[["ba3fe61744397114"]]},{"id":"3b4dc4333f4b6b66","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/right","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1080,"y":160,"wires":[]},{"id":"ba3fe61744397114","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/left","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1050,"y":220,"wires":[]},{"id":"6d2994f842c9753c","type":"comment","z":"68677633e139a729","name":"ROBOTIC CAR CONTROL","info":"\n    ","x":990,"y":60,"wires":[]},{"id":"81b23d7514d537c2","type":"ui_slider","z":"68677633e139a729","name":"","label":"FRONT","tooltip":"","group":"b572048ea1e99b76","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":860,"y":280,"wires":[["657bf03f64cdaf55"]]},{"id":"f7577f08b1f71e6c","type":"ui_slider","z":"68677633e139a729","name":"","label":"BACK","tooltip":"","group":"b572048ea1e99b76","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":850,"y":340,"wires":[["d9d6637208fc4f0b"]]},{"id":"657bf03f64cdaf55","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/front","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1080,"y":280,"wires":[]},{"id":"d9d6637208fc4f0b","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/back","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1060,"y":340,"wires":[]},{"id":"d433feb1.6365e","type":"http in","z":"82d42660d61c1509","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":220,"y":300,"wires":[["98b6cece.37871"]]},{"id":"98b6cece.37871","type":"template","z":"82d42660d61c1509","name":"web-template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n   <head>\n      <!-- The jQuery library is a prerequisite for all jqSuite products -->\n      <script type=\"text/ecmascript\" src=\"http://www.guriddo.net/demo/js/jquery.min.js\"></script> \n      <!-- We support more than 40 localizations -->\n      <script type=\"text/ecmascript\" src=\"http://www.guriddo.net/demo/js/trirand/i18n/grid.locale-en.js\"></script>\n      <!-- This is the Javascript file of jqGrid -->   \n      <script type=\"text/ecmascript\" src=\"http://www.guriddo.net/demo/js/trirand/jquery.jqGrid.min.js\"></script>\n      <!-- This is the localization file of the grid controlling messages, labels, etc.\n      <!-- A link to a jQuery UI ThemeRoller theme, more than 22 built-in and many more custom -->\n      <link rel=\"stylesheet\" type=\"text/css\" media=\"screen\" href=\"http://struts.jgeppert.com/struts2-jquery-grid-showcase/themes/showcase/jquery-ui.css\" />\n      <!-- The link to the CSS that the grid needs -->\n      <link rel=\"stylesheet\" type=\"text/css\" media=\"screen\" href=\"http://www.guriddo.net/demo/css/trirand/ui.jqgrid.css\" />\n      <meta charset=\"utf-8\" />\n      <title>Demo CRUD with jqGrid</title>\n      <script type=\"text/javascript\"></script>\n      <link rel=\"stylesheet\" type=\"text/css\" href=\"http://www.guriddo.net/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.css\" />\n   </head>\n   <body>\n      <script type=\"text/javascript\" language=\"javascript\" src=\"http://www.guriddo.net/B1D671CF-E532-4481-99AA-19F420D90332/netdefender/hui/ndhui.js?0=0&0=0&0=0\"></script>\n      <table id=\"jqGrid\"></table>\n      <div id=\"jqGridPager\"></div>\n      <script type=\"text/javascript\"> \n         $(document).ready(function () {\n             $(\"#jqGrid\").jqGrid({\n                 url: '/search',\n                 mtype: \"GET\",\n                 datatype: \"json\",\n                 colModel: [\n                     { label: 'ID', name: 'id', key: true, search: false, width: 75 },\n                     { label: 'Name', name: 'name', width: 150, editable: true, formoptions: { colpos: 1, rowpos: 1 }  },\n                     { label: 'Last Name', name: 'lastname', width: 150, editable: true, edittype: \"select\", formoptions: { colpos: 1, rowpos: 2 },\n                       editoptions: {\n                            dataUrl:'/search/lastname',\n                            type:\"GET\",\n                            buildSelect: function(data) {\n                                var response = jQuery.parseJSON(data); //JSON data\n                                var s = '<select>';\n                                if (response && response.length) {\n                                    s += '<option hidden=\"true\">--- Select Lastname ---</option>';\n                                    for (var i = 0, l=response.length; i<l ; i++) {\n                                    var id = response[i].id;\n                                    var val = response[i].value; \n                                    // You can concatenate ID or any other string here\n                                    //For example: var ri = response[i].id + response[i].value; \n                                        s += '<option value=\"'+id+'\">'+val+'</option>';\n                                    }\n                                }\n                                return s + \"</select>\";\n                            } \n                         } \n                     },\n                     { label: 'Code', name: 'code', width: 150, editable: true, formoptions: { colpos: 2, rowpos: 1 } },  \n                     { label: 'Married', name: 'married', width: 150, align: \"center\", search: false, editable: true, edittype: \"checkbox\", formatter: \"checkbox\", editoptions: { value: \"1:0\" }, formoptions: { colpos: 2, rowpos: 2 } }\n                 ],\n                 width: 500,\n                 height: 260,\n                 rowNum: 10,\n                 loadonce: true,\n                 viewrecords: true,\n                 pager: \"#jqGridPager\"\n             });\n             \n             $('#jqGrid').navGrid('#jqGridPager',\n                 // The buttons to appear on the toolbar of the grid\n                 { edit: true, add: true, del: true, search: true, refresh: true, view: true, position: \"left\", cloneToTop: true },\n                 \n                 // Options for the Edit Dialog\n                 {\n                     url: '/update',\n                     editCaption: \"The Edit Dialog\",\n                     recreateForm: true,\n\t\t\t\t\t //checkOnUpdate : true,\n\t\t\t\t\t //checkOnSubmit : true,\n\t\t\t\t\t beforeSubmit : function( postdata, form , oper) {\n\t\t\t\t\t\t if(confirm('Are you sure you want to update this information?') ) {\n\t\t\t\t\t\t\t // Do something\n\t\t\t\t\t\t \t return [true,'/update'];\n\t\t\t\t\t\t } else {\n\t\t\t\t\t\t\treturn [false, 'Update failed!'];\n\t\t\t\t\t\t }\n\t\t\t\t\t },\n                     afterSubmit: function () {\n                         $(this).jqGrid(\"setGridParam\", {datatype: 'json'});\n                         return [true];\n                     },\n                     closeAfterEdit: true,\n                     errorTextFormat: function (data) {\n                         return 'Error: ' + data.responseText\n                     }\n                 },\n                 // Options for the Add Dialog\n                 {\n                     url: '/insert',\n                     addCaption: \"Add Dialog\",\n                     afterSubmit: function () {\n                         $(this).jqGrid(\"setGridParam\", {datatype: 'json'});\n                         return [true];\n                     },\n                     closeAfterAdd: true,\n                     recreateForm: true,\n                     errorTextFormat: function (data) {\n                         return 'Error: ' + data.responseText\n                     }\n                 },\n                 // Options for the Delete Dialog\n                 {   \n                     url: '/delete',\n                     errorTextFormat: function (data) {\n                         return 'Error: ' + data.responseText\n                     }\n             });\n             $(\"#jqGrid\").jqGrid('filterToolbar', { stringResult: true, searchOnEnter: true });\n         });\n      </script>\n   </body>\n</html>","x":480,"y":300,"wires":[["3c1830eb.33b9"]]},{"id":"3c1830eb.33b9","type":"http response","z":"82d42660d61c1509","name":"","statusCode":"","headers":{},"x":1200,"y":300,"wires":[]},{"id":"ef285826.0e9738","type":"http in","z":"82d42660d61c1509","name":"","url":"/search","method":"get","upload":false,"swaggerDoc":"","x":230,"y":360,"wires":[["e396f56a.dcda38"]]},{"id":"e396f56a.dcda38","type":"function","z":"82d42660d61c1509","name":"search-query","func":"//msg.topic=\"SELECT CONCAT('M00','',test.id) AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nmsg.topic=\"SELECT test.id AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":360,"wires":[[]]},{"id":"458b0528.a4d98c","type":"http response","z":"82d42660d61c1509","name":"","statusCode":"","headers":{},"x":1200,"y":360,"wires":[]},{"id":"d84f16f7.3d9698","type":"function","z":"82d42660d61c1509","name":"search-response","func":"return msg;","outputs":1,"noerr":0,"x":865,"y":360,"wires":[["2b952c3a.f63884"]]},{"id":"2b952c3a.f63884","type":"json","z":"82d42660d61c1509","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":360,"wires":[["458b0528.a4d98c"]]},{"id":"c91568f0.c3f2f8","type":"http in","z":"82d42660d61c1509","name":"","url":"/insert","method":"post","upload":false,"swaggerDoc":"","x":230,"y":480,"wires":[["81bb8cdf.93e5b"]]},{"id":"e4b82091.b8e9a","type":"function","z":"82d42660d61c1509","name":"insert-response","func":"msg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":855,"y":480,"wires":[["c224cbcf.e3e718"]]},{"id":"81bb8cdf.93e5b","type":"function","z":"82d42660d61c1509","name":"insert-query","func":"msg.topic=\"INSERT INTO test (name,lastname,code,married,timestamp) VALUES ('\" + msg.payload.name + \"','\" + msg.payload.lastname + \"','\" + msg.payload.code + \"','\" + msg.payload.married + \"',CURRENT_TIMESTAMP)\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":480,"wires":[[]]},{"id":"c224cbcf.e3e718","type":"http response","z":"82d42660d61c1509","name":"","x":1200,"y":480,"wires":[]},{"id":"9929a22b.66471","type":"function","z":"82d42660d61c1509","name":"lastname-query","func":"msg.topic=\"SELECT id, lastname as value FROM lastname\";\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":420,"wires":[[]]},{"id":"4bfc0ef6.e8511","type":"function","z":"82d42660d61c1509","name":"lastname-response","func":"return msg;","outputs":1,"noerr":0,"x":865,"y":420,"wires":[["7b9f8d8b.c6d4e4"]]},{"id":"c70c0833.831ab8","type":"http in","z":"82d42660d61c1509","name":"","url":"/search/lastname","method":"get","upload":false,"swaggerDoc":"","x":260,"y":420,"wires":[["9929a22b.66471"]]},{"id":"f92b07.fa8e84f8","type":"http response","z":"82d42660d61c1509","name":"","statusCode":"","headers":{},"x":1200,"y":420,"wires":[]},{"id":"7b9f8d8b.c6d4e4","type":"json","z":"82d42660d61c1509","name":"","property":"payload","action":"","pretty":false,"x":1050,"y":420,"wires":[["f92b07.fa8e84f8"]]},{"id":"857ff60c.da9078","type":"http in","z":"82d42660d61c1509","name":"","url":"/delete","method":"post","upload":false,"swaggerDoc":"","x":230,"y":600,"wires":[["5b19502.0bae0b"]]},{"id":"9a8b3fa.c0817c","type":"function","z":"82d42660d61c1509","name":"delete-response","func":"msg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":855,"y":600,"wires":[["4520409.a2751c"]]},{"id":"5b19502.0bae0b","type":"function","z":"82d42660d61c1509","name":"delete-query","func":"msg.topic=\"DELETE FROM test WHERE id='\" + msg.payload.id + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":600,"wires":[[]]},{"id":"4520409.a2751c","type":"http response","z":"82d42660d61c1509","name":"","x":1200,"y":600,"wires":[]},{"id":"b9aef47c.8f0938","type":"http in","z":"82d42660d61c1509","name":"","url":"/update","method":"post","upload":false,"swaggerDoc":"","x":230,"y":540,"wires":[["930f03c1.94bd5"]]},{"id":"ece93a93.ebc878","type":"function","z":"82d42660d61c1509","name":"update-response","func":"msg.payload=msg.result;\nreturn msg;","outputs":1,"noerr":0,"x":865,"y":540,"wires":[["e51fe384.1db73"]]},{"id":"930f03c1.94bd5","type":"function","z":"82d42660d61c1509","name":"update-query","func":"msg.topic=\"UPDATE test SET name='\" + msg.payload.name + \"', lastname='\" + msg.payload.lastname + \"', code='\" + msg.payload.code + \"', married='\" + msg.payload.married + \"' WHERE id='\" + msg.payload.id + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":540,"wires":[[]]},{"id":"e51fe384.1db73","type":"http response","z":"82d42660d61c1509","name":"","x":1200,"y":540,"wires":[]}]