NodeRed Flow/flow_labIoT_21_04_2022.json
[{"id":"b0823cca61e55da7","type":"tab","label":"Sensing and Database Node","disabled":false,"info":"","env":[]},{"id":"68677633e139a729","type":"tab","label":"Robotic Node","disabled":false,"info":"","env":[]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"raspberrypi","port":"1883","tls":"7e5d8e758d6a1640","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e5d8e758d6a1640","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"mosq_client.pem","keyname":"mosq_client.key.pem","caname":"mosq_ca.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"17522d42.149913","type":"ui_tab","name":"Robotic Node","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"92518872.4d2bc8","type":"ui_group","name":"Conveyor","tab":"17522d42.149913","order":1,"disp":false,"width":"7","collapse":false,"className":""},{"id":"a3844e43954f45e7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"46995d18ea56d5e9","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"warehouse","tz":"","charset":"UTF8"},{"id":"75c207ea7de8d2ad","type":"ui_group","name":"Robotic Arm Control","tab":"17522d42.149913","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4d9f07f5ae42afac","type":"ui_group","name":"Database Table","tab":"67ff17e9.83751","order":1,"disp":true,"width":"14","collapse":true,"className":""},{"id":"d68e7be3.88f088","type":"ui_group","name":"Event Log","tab":"67ff17e9.83751","order":2,"disp":true,"width":"8","collapse":false,"className":""},{"id":"54bca71e.4287f","type":"ui_group","name":"Add Product","tab":"67ff17e9.83751","order":3,"disp":true,"width":"8","collapse":true,"className":""},{"id":"67ff17e9.83751","type":"ui_tab","name":"Form DB","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"625872f.40b1e8c","type":"ui_group","name":"Default","tab":"58c2aa06.ef46e4","order":1,"disp":true,"width":"6","collapse":false},{"id":"58c2aa06.ef46e4","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"3b02597c.184f36","type":"ui_group","name":"Sensor info","tab":"1d1ac0f7.0858bf","order":1,"disp":false,"width":"18","collapse":false},{"id":"1d1ac0f7.0858bf","type":"ui_tab","name":"Sensor Info","icon":"dvr","order":10,"disabled":false,"hidden":false},{"id":"f846bf7d4708b68e","type":"http request","z":"b0823cca61e55da7","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.4/capture","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":279,"y":493,"wires":[["a409790be771bbcd","6c032dc0b33c4406"]]},{"id":"f4586c93739862be","type":"mqtt in","z":"b0823cca61e55da7","name":"Camera","topic":"camera/capture","qos":"0","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":119,"y":493,"wires":[["f846bf7d4708b68e"]]},{"id":"c86af8cd4e54433f","type":"comment","z":"b0823cca61e55da7","name":"QR Code Scanner","info":"\n    ","x":170,"y":440,"wires":[]},{"id":"a409790be771bbcd","type":"image","z":"b0823cca61e55da7","name":"Original Image","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":509,"y":373,"wires":[]},{"id":"df4ebd44a6ecd43f","type":"Barcode Decoder","z":"b0823cca61e55da7","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":true,"PDF_417":true,"EAN_8":true,"EAN_13":true,"CODE_39":true,"CODE_128":true,"ITF":true,"RSS_14":true,"x":939,"y":493,"wires":[["b45326c09a13b49c","8da7846c08257ba8"]]},{"id":"b45326c09a13b49c","type":"debug","z":"b0823cca61e55da7","name":"See output on debug sidebar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.text","targetType":"msg","statusVal":"","statusType":"auto","x":1209,"y":493,"wires":[]},{"id":"801f3b7ca4d1f8a3","type":"jimp-image","z":"b0823cca61e55da7","name":"clean up image","data":"payload","dataType":"msg","ret":"img","parameter1":"[{\"name\": \"grayscale\"},{\"name\":\"invert\"},{\"name\":\"brightness\",\"parameters\":[-0.5]},{\"name\":\"contrast\",\"parameters\":[0.45]},{\"name\":\"blur\",\"parameters\":[3]},{\"name\":\"brightness\",\"parameters\":[0.2]},{\"name\":\"contrast\",\"parameters\":[0.5]},{\"name\":\"brightness\",\"parameters\":[0.2]},{\"name\":\"contrast\",\"parameters\":[0.5]}]","parameter1Type":"json","parameter2":"RESIZE_BICUBIC","parameter2Type":"Jimp","parameter3":"","parameter3Type":"","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":0,"jimpFunction":"clone","selectedJimpFunction":{"name":"clone","fn":"clone","description":"returns a clone of the image","parameters":[]},"x":709,"y":493,"wires":[["df4ebd44a6ecd43f"]],"icon":"font-awesome/fa-image"},{"id":"6c032dc0b33c4406","type":"image viewer","z":"b0823cca61e55da7","name":"","width":"200","data":"payload","dataType":"msg","active":true,"x":479,"y":493,"wires":[["801f3b7ca4d1f8a3"]]},{"id":"317314f1164b1589","type":"mqtt in","z":"b0823cca61e55da7","name":"Radar","topic":"radar/conveyor","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":160,"wires":[["781e08802704bbb5","bd5d8c4743114f33","462eb6f20fcfea2d","67429e1ec8604623","a9a17a6fe6d624c0","58c5ef2f3cabe6f6"]]},{"id":"781e08802704bbb5","type":"mqtt out","z":"b0823cca61e55da7","name":"Conveyor","topic":"radar/conveyor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":400,"y":60,"wires":[]},{"id":"bd5d8c4743114f33","type":"ui_led","z":"b0823cca61e55da7","order":1,"group":"92518872.4d2bc8","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"First Conveyor","x":440,"y":120,"wires":[]},{"id":"462eb6f20fcfea2d","type":"ui_led","z":"b0823cca61e55da7","order":2,"group":"92518872.4d2bc8","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Second Conveyor","x":450,"y":160,"wires":[]},{"id":"67429e1ec8604623","type":"ui_led","z":"b0823cca61e55da7","order":3,"group":"92518872.4d2bc8","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Thirth Conveyor","x":440,"y":200,"wires":[]},{"id":"a9a17a6fe6d624c0","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"classes","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"58c5ef2f3cabe6f6","type":"delay","z":"b0823cca61e55da7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":420,"y":280,"wires":[["82843fbd8b5af8ad"]]},{"id":"82843fbd8b5af8ad","type":"mqtt out","z":"b0823cca61e55da7","name":"PickAndPlace","topic":"robotics/value","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":620,"y":280,"wires":[]},{"id":"9ca2f49f5a96f975","type":"comment","z":"b0823cca61e55da7","name":"Conveyor Node","info":"\n    ","x":120,"y":100,"wires":[]},{"id":"6bfe6c28c259a22b","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":899,"y":853,"wires":[["a590ac8c0a5232ac","1a3da59e6601e9f9"]]},{"id":"a590ac8c0a5232ac","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1094,"y":797,"wires":[]},{"id":"3356ce81f97c9dbc","type":"function","z":"b0823cca61e55da7","name":"SELECT","func":"msg.topic = \"SELECT * FROM products\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":664,"y":837,"wires":[["6bfe6c28c259a22b"]]},{"id":"eabf67af5beee995","type":"function","z":"b0823cca61e55da7","name":"Insert","func":"msg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":90,"y":900,"wires":[[]]},{"id":"ad0e0af17b960fb0","type":"inject","z":"b0823cca61e55da7","name":"INSERT Bind - via JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"INSERT INTO products (Name, Number, Description, Area) VALUES (?, ?, ?, ?)","payload":"[\"CIAO BELLA\", \"1313ASDJE\", \"Una papera\", \"Zone1\"]","payloadType":"str","x":170,"y":980,"wires":[["1366fdeac3417e19"]]},{"id":"1366fdeac3417e19","type":"json","z":"b0823cca61e55da7","name":"","property":"payload","action":"","pretty":false,"x":110,"y":1020,"wires":[[]]},{"id":"bbdcd9a6f53fcbab","type":"function","z":"b0823cca61e55da7","name":"INSERT INTO","func":"//msg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\n//return msg;\n\nvar name = msg.payload.productName;\nvar number = msg.payload.serialNumber;\nvar description = msg.payload.productDescription;\nvar area = msg.payload.productArea;\n\nmsg.payload = [name, number, description, area];\nmsg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES (?, ?, ?, ?);\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":684,"y":877,"wires":[["6bfe6c28c259a22b","ad4f1c61372e00bb"]]},{"id":"3150bff6d3161a19","type":"function","z":"b0823cca61e55da7","name":"","func":"msg.topic = \"SELECT * FROM products WHERE Name LIKE ?\";\nmsg.payload = [msg.payload.text];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":940,"wires":[[]]},{"id":"8da7846c08257ba8","type":"function","z":"b0823cca61e55da7","name":"UPDATE Product","func":"msg.topic = \"UPDATE products SET Name = 'Ciao Bella', Description = 'Ciao Bella' WHERE Number = ?\";\nmsg.payload = [msg.payload.text];\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":694,"y":797,"wires":[["6bfe6c28c259a22b"]]},{"id":"573d0e1e89e7c8c3","type":"comment","z":"b0823cca61e55da7","name":"DATABASE FLOW","info":"\n    ","x":910,"y":760,"wires":[]},{"id":"a8c4e1ca26da8210","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM ADD PRODUCT","group":"54bca71e.4287f","order":1,"width":0,"height":0,"options":[{"label":"Product Name","value":"productName","type":"text","required":true,"rows":null},{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null},{"label":"Product Description","value":"productDescription","type":"text","required":true,"rows":null},{"label":"Product Area","value":"productArea","type":"text","required":true,"rows":null}],"formValue":{"productName":"","serialNumber":"","productDescription":"","productArea":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Form","topicType":"str","splitLayout":false,"className":"","x":474,"y":877,"wires":[["bbdcd9a6f53fcbab"]]},{"id":"0f0c3eb0b54c3960","type":"inject","z":"b0823cca61e55da7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"DESCRIBE products;","payload":"","payloadType":"date","x":120,"y":1060,"wires":[[]]},{"id":"6f0e37f359e5573d","type":"debug","z":"b0823cca61e55da7","name":"Dashboard Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1104,"y":937,"wires":[]},{"id":"ad4f1c61372e00bb","type":"function","z":"b0823cca61e55da7","name":"Save Events","func":"\n// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":894,"y":917,"wires":[["6f0e37f359e5573d","8099571f47a68b76"]]},{"id":"8099571f47a68b76","type":"ui_template","z":"b0823cca61e55da7","group":"d68e7be3.88f088","name":"Dashboard Event Log ","order":1,"width":"5","height":"6","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1124,"y":877,"wires":[[]]},{"id":"1a3da59e6601e9f9","type":"ui_table","z":"b0823cca61e55da7","group":"4d9f07f5ae42afac","name":"","width":"14","height":"6","columns":[],"outputs":0,"cts":false,"x":1074,"y":837,"wires":[]},{"id":"d39da7865c1ccd2b","type":"function","z":"b0823cca61e55da7","name":"search-query","func":"//msg.topic=\"SELECT CONCAT('M00','',test.id) AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nmsg.topic=\"SELECT test.id AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":860,"wires":[[]]},{"id":"145ff856c027dbcc","type":"ui_switch","z":"68677633e139a729","name":"","label":"Activate Robotic Arm","tooltip":"","group":"75c207ea7de8d2ad","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":100,"wires":[["592d8a0978c97ce7"]]},{"id":"1c2f8473da25bd21","type":"ui_slider","z":"68677633e139a729","name":"","label":"base","tooltip":"","group":"75c207ea7de8d2ad","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1390,"y":160,"wires":[["cc540a700940a18c"]]},{"id":"40b11ce4ddfcaabc","type":"ui_slider","z":"68677633e139a729","name":"","label":"shoulder","tooltip":"","group":"75c207ea7de8d2ad","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1400,"y":220,"wires":[["96abeeadb9d5b3c7"]]},{"id":"a7609a70666eeb76","type":"ui_slider","z":"68677633e139a729","name":"","label":"elbow","tooltip":"","group":"75c207ea7de8d2ad","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1390,"y":280,"wires":[["dff868e890542f2f"]]},{"id":"436181908d5a331e","type":"ui_slider","z":"68677633e139a729","name":"","label":"gripper","tooltip":"","group":"75c207ea7de8d2ad","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1400,"y":340,"wires":[["327d3170c1c2d2c4"]]},{"id":"592d8a0978c97ce7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/controller","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1650,"y":100,"wires":[]},{"id":"cc540a700940a18c","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/baseArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1630,"y":160,"wires":[]},{"id":"96abeeadb9d5b3c7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/shoulderArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1620,"y":220,"wires":[]},{"id":"dff868e890542f2f","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/elbowArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1630,"y":280,"wires":[]},{"id":"327d3170c1c2d2c4","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/gripperArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1620,"y":340,"wires":[]},{"id":"14997a7fc0babab9","type":"comment","z":"68677633e139a729","name":"ROBOTIC ARM CONTROL","info":"\n    ","x":1530,"y":60,"wires":[]},{"id":"3145574a0e03e016","type":"ui_switch","z":"68677633e139a729","name":"","label":"Activate Robotic Arm","tooltip":"","group":"75c207ea7de8d2ad","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1420,"y":480,"wires":[["30bbde833cbd6161"]]},{"id":"68ba74cb73ae8b54","type":"ui_slider","z":"68677633e139a729","name":"","label":"base","tooltip":"","group":"75c207ea7de8d2ad","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1370,"y":540,"wires":[["3b4dc4333f4b6b66"]]},{"id":"9a09ec97cd7f9374","type":"ui_slider","z":"68677633e139a729","name":"","label":"shoulder","tooltip":"","group":"75c207ea7de8d2ad","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1380,"y":600,"wires":[["fcf84c6229f20d4e"]]},{"id":"2e6cd52006162e0b","type":"ui_slider","z":"68677633e139a729","name":"","label":"elbow","tooltip":"","group":"75c207ea7de8d2ad","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1370,"y":660,"wires":[["6cbd492781f0f225"]]},{"id":"8de3d8fc4995451d","type":"ui_slider","z":"68677633e139a729","name":"","label":"gripper","tooltip":"","group":"75c207ea7de8d2ad","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1380,"y":720,"wires":[["ba3fe61744397114"]]},{"id":"30bbde833cbd6161","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/controller","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1630,"y":480,"wires":[]},{"id":"3b4dc4333f4b6b66","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/baseArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1610,"y":540,"wires":[]},{"id":"fcf84c6229f20d4e","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/shoulderArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1600,"y":600,"wires":[]},{"id":"6cbd492781f0f225","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/elbowArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1610,"y":660,"wires":[]},{"id":"ba3fe61744397114","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/gripperArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1600,"y":720,"wires":[]},{"id":"6d2994f842c9753c","type":"comment","z":"68677633e139a729","name":"ROBOTIC ARM CONTROL","info":"\n    ","x":1510,"y":440,"wires":[]}]