NodeRed Flow/flow_labIoT_05_05_2022.json
[{"id":"b0823cca61e55da7","type":"tab","label":"Sensing and Database Node","disabled":false,"info":"","env":[]},{"id":"68677633e139a729","type":"tab","label":"Robotic Node","disabled":false,"info":"","env":[]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"raspberrypi","port":"1883","tls":"7e5d8e758d6a1640","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e5d8e758d6a1640","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"mosq_client.pem","keyname":"mosq_client.key.pem","caname":"mosq_ca.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"17522d42.149913","type":"ui_tab","name":"Robotic Node","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"92518872.4d2bc8","type":"ui_group","name":"Conveyor","tab":"17522d42.149913","order":1,"disp":true,"width":3,"collapse":true,"className":""},{"id":"a3844e43954f45e7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ffa000","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#f88920","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#ffa000","edited":true},"page-titlebar-backgroundColor":{"value":"#ffa000","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffbd4d","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ffa000","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Werahouse Automation Systems","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"46995d18ea56d5e9","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"warehouse","tz":"","charset":"UTF8"},{"id":"75c207ea7de8d2ad","type":"ui_group","name":"Robotic Arm Control","tab":"17522d42.149913","order":5,"disp":true,"width":"8","collapse":true,"className":""},{"id":"4d9f07f5ae42afac","type":"ui_group","name":"Database Table","tab":"67ff17e9.83751","order":2,"disp":true,"width":14,"collapse":true,"className":""},{"id":"d68e7be3.88f088","type":"ui_group","name":"QR Code / Event Log","tab":"67ff17e9.83751","order":5,"disp":true,"width":"5","collapse":true,"className":""},{"id":"54bca71e.4287f","type":"ui_group","name":"Add Product","tab":"67ff17e9.83751","order":1,"disp":true,"width":6,"collapse":true,"className":""},{"id":"67ff17e9.83751","type":"ui_tab","name":"Logistics","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"6eb2a5.27c0255c","type":"ui_group","name":"Commands","tab":"67ff17e9.83751","order":4,"disp":true,"width":5,"collapse":true,"className":""},{"id":"b572048ea1e99b76","type":"ui_group","name":"Robotic Car Control","tab":"17522d42.149913","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"aa0ed3a6ee746497","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"d68e7be3.88f088","order":2,"width":5,"height":1},{"id":"34e1ed7bd5bbe7ba","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"6eb2a5.27c0255c","order":1,"width":"1","height":"5"},{"id":"cc412229a302e8f3","type":"ui_group","name":"QR Generator","tab":"67ff17e9.83751","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"2187b69267cd8faf","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":1,"width":1,"height":1},{"id":"4db7d3a022e8b47a","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":8,"width":1,"height":1},{"id":"d0563fea996f56b1","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":9,"width":1,"height":1},{"id":"c3668afddb008d49","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":10,"width":1,"height":1},{"id":"da370eeafa21fa3b","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":11,"width":1,"height":1},{"id":"fb5e3cb38bee87bb","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":12,"width":1,"height":1},{"id":"cc1a2686368545ca","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":13,"width":1,"height":1},{"id":"e554f3345ba2d1df","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":14,"width":1,"height":1},{"id":"a40ffd8951db31c0","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":15,"width":1,"height":1},{"id":"1f43ebea56b9e6f3","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":16,"width":1,"height":1},{"id":"509ab5613fe8b597","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":17,"width":1,"height":1},{"id":"07c300ed96086bf9","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":18,"width":1,"height":1},{"id":"5ac7ce3db7989e13","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":19,"width":1,"height":1},{"id":"f1726280901e9467","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":20,"width":1,"height":1},{"id":"c1089ae7add0d0bc","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":21,"width":1,"height":1},{"id":"6329d8dafd50549f","type":"ui_spacer","z":"68677633e139a729","name":"spacer","group":"75c207ea7de8d2ad","order":23,"width":1,"height":1},{"id":"f846bf7d4708b68e","type":"http request","z":"b0823cca61e55da7","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.4/capture","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":310,"y":500,"wires":[["6c032dc0b33c4406"]]},{"id":"f4586c93739862be","type":"mqtt in","z":"b0823cca61e55da7","name":"Camera","topic":"camera/capture","qos":"0","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":119,"y":493,"wires":[["f846bf7d4708b68e"]]},{"id":"c86af8cd4e54433f","type":"comment","z":"b0823cca61e55da7","name":"QR Code Scanner","info":"\n    ","x":170,"y":440,"wires":[]},{"id":"df4ebd44a6ecd43f","type":"Barcode Decoder","z":"b0823cca61e55da7","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":930,"y":500,"wires":[["b45326c09a13b49c","40d308a3da945a2c","1c604380c79468e8"]]},{"id":"b45326c09a13b49c","type":"debug","z":"b0823cca61e55da7","name":"See output on debug sidebar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1209,"y":493,"wires":[]},{"id":"801f3b7ca4d1f8a3","type":"jimp-image","z":"b0823cca61e55da7","name":"clean up image","data":"payload","dataType":"msg","ret":"img","parameter1":"-1.0","parameter1Type":"num","parameter2":"240","parameter2Type":"none","parameter3":"","parameter3Type":"none","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":0,"jimpFunction":"normalize","selectedJimpFunction":{"name":"normalize","fn":"normalize","description":"normalize the channels in an image","parameters":[]},"x":720,"y":500,"wires":[["df4ebd44a6ecd43f"]],"icon":"font-awesome/fa-image"},{"id":"6c032dc0b33c4406","type":"image viewer","z":"b0823cca61e55da7","name":"","width":"100","data":"payload","dataType":"msg","active":true,"x":510,"y":500,"wires":[["801f3b7ca4d1f8a3"]]},{"id":"317314f1164b1589","type":"mqtt in","z":"b0823cca61e55da7","name":"Radar","topic":"radar/conveyor","qos":"0","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":160,"wires":[["781e08802704bbb5","bd5d8c4743114f33","462eb6f20fcfea2d","67429e1ec8604623","a9a17a6fe6d624c0","58c5ef2f3cabe6f6"]]},{"id":"781e08802704bbb5","type":"mqtt out","z":"b0823cca61e55da7","name":"Conveyor","topic":"radar/conveyor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":400,"y":60,"wires":[]},{"id":"bd5d8c4743114f33","type":"ui_led","z":"b0823cca61e55da7","order":1,"group":"92518872.4d2bc8","width":0,"height":0,"label":"Area_1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"1","valueType":"str"},{"color":"#808080","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"First Conveyor","x":440,"y":120,"wires":[]},{"id":"462eb6f20fcfea2d","type":"ui_led","z":"b0823cca61e55da7","d":true,"order":2,"group":"92518872.4d2bc8","width":0,"height":0,"label":"Area 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"2","valueType":"str"},{"color":"#808080","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Second Conveyor","x":450,"y":160,"wires":[]},{"id":"67429e1ec8604623","type":"ui_led","z":"b0823cca61e55da7","d":true,"order":3,"group":"92518872.4d2bc8","width":0,"height":0,"label":"Area 3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"3","valueType":"str"},{"color":"#808080","value":"0","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Thirth Conveyor","x":440,"y":200,"wires":[]},{"id":"a9a17a6fe6d624c0","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"classes","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"58c5ef2f3cabe6f6","type":"delay","z":"b0823cca61e55da7","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":420,"y":280,"wires":[["82843fbd8b5af8ad"]]},{"id":"82843fbd8b5af8ad","type":"mqtt out","z":"b0823cca61e55da7","name":"PickAndPlace","topic":"robotics/value","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":620,"y":280,"wires":[]},{"id":"9ca2f49f5a96f975","type":"comment","z":"b0823cca61e55da7","name":"Conveyor Node","info":"\n    ","x":120,"y":100,"wires":[]},{"id":"6bfe6c28c259a22b","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":899,"y":853,"wires":[["a590ac8c0a5232ac","b4a5b3637bc142db"]]},{"id":"a590ac8c0a5232ac","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1094,"y":797,"wires":[]},{"id":"eabf67af5beee995","type":"function","z":"b0823cca61e55da7","name":"Insert","func":"msg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":1400,"wires":[[]]},{"id":"ad0e0af17b960fb0","type":"inject","z":"b0823cca61e55da7","name":"INSERT Bind - via JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"INSERT INTO products (Name, Number, Description, Area) VALUES (?, ?, ?, ?)","payload":"[\"CIAO BELLA\", \"1313ASDJE\", \"Una papera\", \"Zone1\"]","payloadType":"str","x":190,"y":1480,"wires":[["1366fdeac3417e19"]]},{"id":"1366fdeac3417e19","type":"json","z":"b0823cca61e55da7","name":"","property":"payload","action":"","pretty":false,"x":130,"y":1520,"wires":[[]]},{"id":"bbdcd9a6f53fcbab","type":"function","z":"b0823cca61e55da7","name":"INSERT INTO","func":"//msg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\n//return msg;\n\nvar name = msg.payload.productName;\nvar number = msg.payload.serialNumber;\nvar description = msg.payload.productDescription;\nvar area = msg.payload.productArea;\n\nmsg.payload = [name, number, description, area];\nmsg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES (?, ?, ?, ?);\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":880,"wires":[["6bfe6c28c259a22b","ad4f1c61372e00bb"]]},{"id":"3150bff6d3161a19","type":"function","z":"b0823cca61e55da7","name":"","func":"msg.topic = \"SELECT * FROM products WHERE Name LIKE ?\";\nmsg.payload = [msg.payload.text];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":1440,"wires":[[]]},{"id":"573d0e1e89e7c8c3","type":"comment","z":"b0823cca61e55da7","name":"DATABASE FLOW","info":"\n    ","x":910,"y":760,"wires":[]},{"id":"a8c4e1ca26da8210","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM ADD PRODUCT","group":"54bca71e.4287f","order":1,"width":6,"height":1,"options":[{"label":"Product Name","value":"productName","type":"text","required":true,"rows":null},{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null},{"label":"Product Description","value":"productDescription","type":"text","required":true,"rows":null},{"label":"Product Area","value":"productArea","type":"text","required":true,"rows":null}],"formValue":{"productName":"","serialNumber":"","productDescription":"","productArea":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Form","topicType":"str","splitLayout":false,"className":"","x":190,"y":880,"wires":[["bbdcd9a6f53fcbab"]]},{"id":"6f0e37f359e5573d","type":"debug","z":"b0823cca61e55da7","name":"Dashboard Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1104,"y":937,"wires":[]},{"id":"ad4f1c61372e00bb","type":"function","z":"b0823cca61e55da7","name":"Save Events","func":"\n// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":894,"y":917,"wires":[["6f0e37f359e5573d","8099571f47a68b76"]]},{"id":"8099571f47a68b76","type":"ui_template","z":"b0823cca61e55da7","group":"d68e7be3.88f088","name":"Dashboard Event Log ","order":3,"width":5,"height":6,"format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1120,"y":900,"wires":[[]]},{"id":"1a3da59e6601e9f9","type":"ui_table","z":"b0823cca61e55da7","group":"4d9f07f5ae42afac","name":"","order":1,"width":14,"height":6,"columns":[],"outputs":0,"cts":false,"x":1370,"y":840,"wires":[]},{"id":"d39da7865c1ccd2b","type":"function","z":"b0823cca61e55da7","name":"search-query","func":"//msg.topic=\"SELECT CONCAT('M00','',test.id) AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nmsg.topic=\"SELECT test.id AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":1360,"wires":[[]]},{"id":"c871d3db5ad265d3","type":"ui_template","z":"b0823cca61e55da7","group":"d68e7be3.88f088","name":"","order":1,"width":0,"height":0,"format":"<div style=\"margin-bottom: 10px;\">\n<img src=\"http://192.168.1.4:81/stream\" width=\"250px\" height=\"250\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":540,"y":1200,"wires":[[]]},{"id":"a76668b6c58d736d","type":"mqtt out","z":"b0823cca61e55da7","name":"Release Object","topic":"robotics/value","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1320,"y":600,"wires":[]},{"id":"40d308a3da945a2c","type":"function","z":"b0823cca61e55da7","name":"DELETE","func":"var number = msg.payload.text;\nmsg.payload = [number];\nmsg.topic = \"DELETE FROM products WHERE Number = ?\";\nreturn msg;\n\n\n//msg.topic = \"DELETE FROM products WHERE Number = ?\";\n//msg.payload = [msg.payload.text];\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":800,"wires":[["6bfe6c28c259a22b"]]},{"id":"14f2c94f50fccd9e","type":"function","z":"b0823cca61e55da7","name":"SELECT","func":"msg.topic = \"SELECT * FROM products\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":840,"wires":[["6bfe6c28c259a22b"]]},{"id":"b4a5b3637bc142db","type":"function","z":"b0823cca61e55da7","name":"SELECT","func":"msg.topic = \"SELECT * FROM products\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":840,"wires":[["5cb68d21ebaeded0"]]},{"id":"5cb68d21ebaeded0","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":1230,"y":840,"wires":[["1a3da59e6601e9f9"]]},{"id":"12af7222ebcd84e5","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM DELETE PRODUCT","group":"54bca71e.4287f","order":2,"width":6,"height":1,"options":[{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null}],"formValue":{"serialNumber":""},"payload":"","submit":"Delete","cancel":"Cancel","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":180,"y":920,"wires":[["546e4ab77bfda83e"]]},{"id":"546e4ab77bfda83e","type":"function","z":"b0823cca61e55da7","name":"DELETE","func":"var number = msg.payload.serialNumber;\nmsg.payload = [number];\nmsg.topic = \"DELETE FROM products WHERE Number = ?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":920,"wires":[["6bfe6c28c259a22b"]]},{"id":"0dac98353f8354f9","type":"function","z":"b0823cca61e55da7","name":"","func":"\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":1320,"wires":[[]]},{"id":"71778beaa8c14df7","type":"ui_template","z":"b0823cca61e55da7","group":"cc412229a302e8f3","name":"","order":1,"width":"6","height":"6","format":"<img src={{msg.payload}}>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":540,"y":1240,"wires":[[]]},{"id":"2441a17f4c126227","type":"qrcode-generator","z":"b0823cca61e55da7","name":"","qrtype":"text2qr","text2qrText":"msg.payload.serialNumber","ssid":"ISHIELDS","hiddenssid":false,"wifitype":"WPA","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":390,"y":1240,"wires":[["71778beaa8c14df7"]]},{"id":"0fbed67b66ef5842","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM CREATE QR CODE","group":"cc412229a302e8f3","order":1,"width":6,"height":1,"options":[{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null}],"formValue":{"serialNumber":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"payload.serialNumber","topicType":"msg","splitLayout":false,"className":"","x":180,"y":1240,"wires":[["2441a17f4c126227","4269d9f24bf35299"]]},{"id":"50c5ab7be1f663ad","type":"ui_button","z":"b0823cca61e55da7","name":"","group":"6eb2a5.27c0255c","order":2,"width":3,"height":1,"passthru":false,"label":"REFRESH","tooltip":"clear all table data","color":"","bgcolor":"","className":"","icon":"","payload":"refresh","payloadType":"str","topic":"","topicType":"str","x":230,"y":840,"wires":[["14f2c94f50fccd9e"]]},{"id":"8bd27afcbd7e2da4","type":"ui_button","z":"b0823cca61e55da7","name":"","group":"6eb2a5.27c0255c","order":3,"width":"3","height":1,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"start","payloadType":"str","topic":"","topicType":"str","x":140,"y":1200,"wires":[["c871d3db5ad265d3"]]},{"id":"b2b09f39.2ac5d","type":"inject","z":"b0823cca61e55da7","name":"Go","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":710,"y":1220,"wires":[["9b2cfd89.80b03"]]},{"id":"9b2cfd89.80b03","type":"function","z":"b0823cca61e55da7","name":"INSERT Data","func":"msg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1220,"wires":[[]]},{"id":"e4a98c17.08f2d","type":"inject","z":"b0823cca61e55da7","name":"Go","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":708,"y":1272,"wires":[[]]},{"id":"e4201ad4.996998","type":"inject","z":"b0823cca61e55da7","name":"Go","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"warehouse","payloadType":"str","x":710,"y":1440,"wires":[["be458293.0fb91"]]},{"id":"be458293.0fb91","type":"function","z":"b0823cca61e55da7","name":"SELECT Data","func":"msg.topic = \"SELECT * FROM department WHERE department_name LIKE '%\" + msg.payload + \"%'\";\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1440,"wires":[[]]},{"id":"9c203b7a.d31738","type":"inject","z":"b0823cca61e55da7","name":"INSERT Bind - via JSON","repeat":"","crontab":"","once":false,"topic":"INSERT INTO test (id,text) VALUES (?, ?)","payload":"[4, \"This is a funny world's end\"]","payloadType":"str","x":650,"y":1340,"wires":[["404656b9.7048b8"]]},{"id":"404656b9.7048b8","type":"json","z":"b0823cca61e55da7","name":"","x":870,"y":1340,"wires":[[]]},{"id":"421f97c2.5607f8","type":"inject","z":"b0823cca61e55da7","name":"Go \"Warehouse\"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"%Warehouse%","payloadType":"str","x":720,"y":1500,"wires":[["778ca316.16ea8c"]]},{"id":"778ca316.16ea8c","type":"function","z":"b0823cca61e55da7","name":"SELECT Data","func":"msg.topic = \"SELECT * FROM Department WHERE Department_Name LIKE ?\";\nmsg.payload = [msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1520,"wires":[[]]},{"id":"632ef9df.2db478","type":"inject","z":"b0823cca61e55da7","name":"Go \"MAnagers\"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"%Managers%","payloadType":"str","x":720,"y":1540,"wires":[["778ca316.16ea8c"]]},{"id":"88f58b45.552b48","type":"function","z":"b0823cca61e55da7","name":"Delete Bind","func":"msg.topic = \"Delete From department where Department_id = ?\";\nmsg.payload = [ \"6\"];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1380,"wires":[[]]},{"id":"8be8aa44.6b7868","type":"inject","z":"b0823cca61e55da7","name":"Go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":710,"y":1380,"wires":[["88f58b45.552b48"]]},{"id":"a2cac161.b5ebf","type":"function","z":"b0823cca61e55da7","name":"INSERT Data","func":"msg.topic = \"INSERT INTO department (department_name) VALUES (?)\";\nmsg.payload = [ \"test\"];\nreturn msg;\n\nmsg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1160,"wires":[[]]},{"id":"cabc5ca6.c3e37","type":"inject","z":"b0823cca61e55da7","name":"Go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":710,"y":1160,"wires":[["a2cac161.b5ebf"]]},{"id":"34adfd8efcc12fa0","type":"function","z":"b0823cca61e55da7","name":"UPDATE","func":"msg.topic=\"UPDATE products SET Name='\" + msg.payload.productName + \"', Number='\" + msg.payload.serialNumber + \"', Description='\" + msg.payload.productDescription + \"', area='\" + msg.payload.productArea + \"' WHERE Number='\" + msg.payload.serialNumber + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":960,"wires":[["6bfe6c28c259a22b"]]},{"id":"1864e71d98905876","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":1000,"wires":[]},{"id":"e594525d02e9ecf2","type":"function","z":"b0823cca61e55da7","name":"UPDATE","func":"var name = msg.payload.productName;\nvar number = msg.payload.serialNumber;\nvar description = msg.payload.productDescription;\nvar area = msg.payload.productArea;\n\nmsg.payload = [name, number, description, area, number];\n\nmsg.topic=\"UPDATE products SET Name=??, Number=??, Description=??, area=?? WHERE Number=?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1000,"wires":[["1864e71d98905876"]]},{"id":"5deb31c3f896b918","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM UPDATE PRODUCT","group":"54bca71e.4287f","order":1,"width":6,"height":1,"options":[{"label":"Product Name","value":"productName","type":"text","required":true,"rows":null},{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null},{"label":"Product Description","value":"productDescription","type":"text","required":true,"rows":null},{"label":"Product Area","value":"productArea","type":"text","required":true,"rows":null}],"formValue":{"productName":"","serialNumber":"","productDescription":"","productArea":""},"payload":"","submit":"Update","cancel":"Cancel","topic":"Form","topicType":"str","splitLayout":false,"className":"","x":180,"y":960,"wires":[["34adfd8efcc12fa0"]]},{"id":"4269d9f24bf35299","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":1320,"wires":[]},{"id":"5cdc6307102a24d0","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1310,"y":680,"wires":[]},{"id":"5fa2055ada78d140","type":"qrcode-generator","z":"b0823cca61e55da7","name":"","qrtype":"text2qr","text2qrText":"123","ssid":"ISHIELDS","hiddenssid":false,"wifitype":"WPA","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":670,"y":580,"wires":[["df4ebd44a6ecd43f"]]},{"id":"4871c8da4bd84ed9","type":"inject","z":"b0823cca61e55da7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":470,"y":580,"wires":[["5fa2055ada78d140"]]},{"id":"1c604380c79468e8","type":"function","z":"b0823cca61e55da7","name":"","func":"if (msg.payload.text != null ) {\n    msg.payload = \"4\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":600,"wires":[["a76668b6c58d736d","5cdc6307102a24d0"]]},{"id":"145ff856c027dbcc","type":"ui_switch","z":"68677633e139a729","name":"","label":"Activate Robotic Arm","tooltip":"","group":"75c207ea7de8d2ad","order":22,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":100,"wires":[["592d8a0978c97ce7"]]},{"id":"1c2f8473da25bd21","type":"ui_slider","z":"68677633e139a729","name":"","label":"Base","tooltip":"","group":"75c207ea7de8d2ad","order":2,"width":1,"height":7,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":1390,"y":160,"wires":[["cc540a700940a18c"]]},{"id":"40b11ce4ddfcaabc","type":"ui_slider","z":"68677633e139a729","name":"","label":"Shoulder","tooltip":"","group":"75c207ea7de8d2ad","order":3,"width":1,"height":7,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":1400,"y":220,"wires":[["96abeeadb9d5b3c7"]]},{"id":"a7609a70666eeb76","type":"ui_slider","z":"68677633e139a729","name":"","label":"Elbow","tooltip":"","group":"75c207ea7de8d2ad","order":4,"width":1,"height":7,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":1390,"y":280,"wires":[["dff868e890542f2f"]]},{"id":"436181908d5a331e","type":"ui_slider","z":"68677633e139a729","name":"","label":"Gripper","tooltip":"","group":"75c207ea7de8d2ad","order":7,"width":1,"height":7,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":1400,"y":460,"wires":[["327d3170c1c2d2c4"]]},{"id":"592d8a0978c97ce7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/controller","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1670,"y":100,"wires":[]},{"id":"cc540a700940a18c","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/baseArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1670,"y":160,"wires":[]},{"id":"96abeeadb9d5b3c7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/shoulderArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1680,"y":220,"wires":[]},{"id":"dff868e890542f2f","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/elbowArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1670,"y":280,"wires":[]},{"id":"327d3170c1c2d2c4","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/gripperArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1680,"y":460,"wires":[]},{"id":"14997a7fc0babab9","type":"comment","z":"68677633e139a729","name":"ROBOTIC ARM CONTROL","info":"\n    ","x":1530,"y":60,"wires":[]},{"id":"51cdc8314b85dd72","type":"comment","z":"68677633e139a729","name":"ROBOTIC CAR CONTROL","info":"\n    ","x":670,"y":60,"wires":[]},{"id":"70471b7e807cb4d7","type":"ui_button","z":"68677633e139a729","name":"Forward","group":"b572048ea1e99b76","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"keyboard_arrow_up","payload":"Forward","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":100,"wires":[["6034200dcf238ec4"]]},{"id":"6034200dcf238ec4","type":"mqtt out","z":"68677633e139a729","name":"","topic":"car/control","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":950,"y":260,"wires":[]},{"id":"dc10c51287a66fc6","type":"ui_button","z":"68677633e139a729","name":"Backward","group":"b572048ea1e99b76","order":8,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"keyboard_arrow_down","payload":"Backward","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":140,"wires":[["6034200dcf238ec4"]]},{"id":"69cdc819e6aeafcf","type":"ui_button","z":"68677633e139a729","name":"Left","group":"b572048ea1e99b76","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"keyboard_arrow_left","payload":"Left","payloadType":"str","topic":"topic","topicType":"msg","x":610,"y":180,"wires":[["6034200dcf238ec4"]]},{"id":"86a6732844c68086","type":"ui_button","z":"68677633e139a729","name":"Right","group":"b572048ea1e99b76","order":6,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"keyboard_arrow_right","payload":"Right","payloadType":"str","topic":"topic","topicType":"msg","x":610,"y":220,"wires":[["6034200dcf238ec4"]]},{"id":"9c06326bd18f7b3b","type":"ui_button","z":"68677633e139a729","name":"LeftForward","group":"b572048ea1e99b76","order":1,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"undo","payload":"LeftForward","payloadType":"str","topic":"topic","topicType":"msg","x":630,"y":260,"wires":[["6034200dcf238ec4"]]},{"id":"715287bfbd22fc27","type":"ui_button","z":"68677633e139a729","name":"RightForward","group":"b572048ea1e99b76","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"redo","payload":"RightForward","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":340,"wires":[["6034200dcf238ec4"]]},{"id":"81426a03ec47a756","type":"ui_button","z":"68677633e139a729","name":"RightBackward","group":"b572048ea1e99b76","order":9,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"subdirectory_arrow_right","payload":"RightBackward","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":380,"wires":[["6034200dcf238ec4"]]},{"id":"a3e1d126526f4918","type":"ui_button","z":"68677633e139a729","name":"Stop","group":"b572048ea1e99b76","order":5,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"pause","payload":"stop_it","payloadType":"str","topic":"topic","topicType":"msg","x":610,"y":420,"wires":[["6034200dcf238ec4"]]},{"id":"6b54698e.ed4b28","type":"ui_joystick","z":"68677633e139a729","name":"Car JoyStick","group":"b572048ea1e99b76","order":12,"width":6,"height":6,"trigger":"all","timeInterval":"1000","useThemeColor":true,"color":"#7b73c9","threshold":"0.1","directions":"all","shape":"circle","centerAtRelease":true,"x":590,"y":460,"wires":[["3094ca49acf9b9f5"]]},{"id":"3094ca49acf9b9f5","type":"function","z":"68677633e139a729","name":"","func":"if (msg.payload.direction.angle == null ) {\n    msg.payload = \"stop_in\";\n}\nelse if (msg.payload.direction.angle == \"up\" ) {\n    msg.payload = \"Forward\";\n}\nelse if (msg.payload.direction.angle == \"down\" ) {\n    msg.payload = \"Backward\";\n}\nelse if (msg.payload.direction.angle == \"right\" ) {\n    msg.payload = \"Right\";\n}\nelse if (msg.payload.direction.angle == \"left\" ) {\n    msg.payload = \"Left\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":460,"wires":[["6034200dcf238ec4"]]},{"id":"3d3bbe547a1e546b","type":"ui_button","z":"68677633e139a729","name":"LeftBackward","group":"b572048ea1e99b76","order":7,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"subdirectory_arrow_left","payload":"LeftBackward","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":300,"wires":[["6034200dcf238ec4"]]},{"id":"67c0a4dbd3158951","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1250,"y":100,"wires":[["145ff856c027dbcc"]]},{"id":"71e340aef60dd7bf","type":"ui_slider","z":"68677633e139a729","name":"","label":"Wrist J1","tooltip":"","group":"75c207ea7de8d2ad","order":5,"width":1,"height":7,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":1400,"y":340,"wires":[["2cf6232375cad6eb"]]},{"id":"2cf6232375cad6eb","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/wristArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1670,"y":340,"wires":[]},{"id":"7af12b885520a729","type":"ui_slider","z":"68677633e139a729","name":"","label":"Wrist J2","tooltip":"","group":"75c207ea7de8d2ad","order":6,"width":1,"height":7,"passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":1400,"y":400,"wires":[["7abc3e9e859aba0d"]]},{"id":"7abc3e9e859aba0d","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/wristArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1670,"y":400,"wires":[]},{"id":"a9ea15ba2faaf46f","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":1250,"y":160,"wires":[["1c2f8473da25bd21"]]},{"id":"51220e25aa642ea3","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":1250,"y":220,"wires":[["40b11ce4ddfcaabc"]]},{"id":"8e2b40e934253e94","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":1250,"y":280,"wires":[["a7609a70666eeb76"]]},{"id":"743b45f6897b2420","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":1250,"y":340,"wires":[["71e340aef60dd7bf"]]},{"id":"fbd7e05abcc9d988","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":1250,"y":400,"wires":[["7af12b885520a729"]]},{"id":"fd42b694fcc3eea0","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":1250,"y":460,"wires":[["436181908d5a331e"]]},{"id":"0847d64506e75e90","type":"ui_switch","z":"68677633e139a729","name":"","label":"Activate Robotic Car","tooltip":"","group":"b572048ea1e99b76","order":10,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":800,"y":500,"wires":[["6034200dcf238ec4"]]},{"id":"7f9c464deb23dc5f","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":610,"y":500,"wires":[["0847d64506e75e90"]]},{"id":"52cb13787e248238","type":"ui_form","z":"68677633e139a729","name":"Car Setup","label":"","group":"b572048ea1e99b76","order":11,"width":0,"height":0,"options":[{"label":"Direction","value":"direction","type":"text","required":true,"rows":null},{"label":"Speed","value":"speed","type":"text","required":true,"rows":null},{"label":"Distance","value":"distance","type":"text","required":true,"rows":null}],"formValue":{"direction":"","speed":"","distance":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":true,"className":"","x":590,"y":560,"wires":[["257cccaf5b9055cd","91d5bd8a920d0a89"]]},{"id":"91d5bd8a920d0a89","type":"mqtt out","z":"68677633e139a729","name":"","topic":"car/setup","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":770,"y":560,"wires":[]},{"id":"257cccaf5b9055cd","type":"debug","z":"68677633e139a729","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":740,"y":640,"wires":[]}]