NodeRed Flow/flow_labIoT_20_04_2022.json
[{"id":"b0823cca61e55da7","type":"tab","label":"Background","disabled":false,"info":"","env":[]},{"id":"68677633e139a729","type":"tab","label":"Robotic Node","disabled":false,"info":"","env":[]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"raspberrypi","port":"1883","tls":"7e5d8e758d6a1640","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e5d8e758d6a1640","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"mosq_client.pem","keyname":"mosq_client.key.pem","caname":"mosq_ca.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"17522d42.149913","type":"ui_tab","name":"Robotic Node","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"92518872.4d2bc8","type":"ui_group","name":"Conveyor","tab":"17522d42.149913","order":1,"disp":false,"width":"7","collapse":false,"className":""},{"id":"a3844e43954f45e7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"46995d18ea56d5e9","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"warehouse","tz":"","charset":"UTF8"},{"id":"75c207ea7de8d2ad","type":"ui_group","name":"Robotic Arm Control","tab":"17522d42.149913","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4d9f07f5ae42afac","type":"ui_group","name":"Products","tab":"67ff17e9.83751","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"6cf82e37.9a1db","type":"MySQLdatabase","host":"127.0.0.1","port":"3306","db":"sys","tz":""},{"id":"d68e7be3.88f088","type":"ui_group","name":"Forms Example","tab":"67ff17e9.83751","order":3,"disp":true,"width":"8","collapse":false},{"id":"54bca71e.4287f","type":"ui_group","name":"Form","tab":"67ff17e9.83751","order":2,"disp":true,"width":"8","collapse":false},{"id":"67ff17e9.83751","type":"ui_tab","name":"Forms Example ","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"f846bf7d4708b68e","type":"http request","z":"b0823cca61e55da7","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.4/capture","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":250,"y":500,"wires":[["a409790be771bbcd","6c032dc0b33c4406"]]},{"id":"f4586c93739862be","type":"mqtt in","z":"b0823cca61e55da7","name":"Camera","topic":"camera/capture","qos":"0","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":500,"wires":[["f846bf7d4708b68e"]]},{"id":"c86af8cd4e54433f","type":"comment","z":"b0823cca61e55da7","name":"QR Code Scanner","info":"\n    ","x":170,"y":440,"wires":[]},{"id":"a409790be771bbcd","type":"image","z":"b0823cca61e55da7","name":"Original Image","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":480,"y":380,"wires":[]},{"id":"df4ebd44a6ecd43f","type":"Barcode Decoder","z":"b0823cca61e55da7","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":true,"PDF_417":true,"EAN_8":true,"EAN_13":true,"CODE_39":true,"CODE_128":true,"ITF":true,"RSS_14":true,"x":910,"y":500,"wires":[["b45326c09a13b49c","8da7846c08257ba8"]]},{"id":"b45326c09a13b49c","type":"debug","z":"b0823cca61e55da7","name":"See output on debug sidebar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.text","targetType":"msg","statusVal":"","statusType":"auto","x":1180,"y":500,"wires":[]},{"id":"801f3b7ca4d1f8a3","type":"jimp-image","z":"b0823cca61e55da7","name":"clean up image","data":"payload","dataType":"msg","ret":"img","parameter1":"[{\"name\": \"grayscale\"},{\"name\":\"invert\"},{\"name\":\"brightness\",\"parameters\":[-0.5]},{\"name\":\"contrast\",\"parameters\":[0.45]},{\"name\":\"blur\",\"parameters\":[3]},{\"name\":\"brightness\",\"parameters\":[0.2]},{\"name\":\"contrast\",\"parameters\":[0.5]},{\"name\":\"brightness\",\"parameters\":[0.2]},{\"name\":\"contrast\",\"parameters\":[0.5]}]","parameter1Type":"json","parameter2":"RESIZE_BICUBIC","parameter2Type":"Jimp","parameter3":"","parameter3Type":"","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":0,"jimpFunction":"clone","selectedJimpFunction":{"name":"clone","fn":"clone","description":"returns a clone of the image","parameters":[]},"x":680,"y":500,"wires":[["df4ebd44a6ecd43f"]],"icon":"font-awesome/fa-image"},{"id":"6c032dc0b33c4406","type":"image viewer","z":"b0823cca61e55da7","name":"","width":"200","data":"payload","dataType":"msg","active":true,"x":450,"y":500,"wires":[["801f3b7ca4d1f8a3"]]},{"id":"317314f1164b1589","type":"mqtt in","z":"b0823cca61e55da7","name":"Radar","topic":"radar/conveyor","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":160,"wires":[["781e08802704bbb5","bd5d8c4743114f33","462eb6f20fcfea2d","67429e1ec8604623","a9a17a6fe6d624c0","58c5ef2f3cabe6f6"]]},{"id":"781e08802704bbb5","type":"mqtt out","z":"b0823cca61e55da7","name":"Conveyor","topic":"radar/conveyor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":400,"y":60,"wires":[]},{"id":"bd5d8c4743114f33","type":"ui_led","z":"b0823cca61e55da7","order":1,"group":"92518872.4d2bc8","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"First Conveyor","x":440,"y":120,"wires":[]},{"id":"462eb6f20fcfea2d","type":"ui_led","z":"b0823cca61e55da7","order":2,"group":"92518872.4d2bc8","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Second Conveyor","x":450,"y":160,"wires":[]},{"id":"67429e1ec8604623","type":"ui_led","z":"b0823cca61e55da7","order":3,"group":"92518872.4d2bc8","width":0,"height":0,"label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Thirth Conveyor","x":440,"y":200,"wires":[]},{"id":"a9a17a6fe6d624c0","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"classes","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"58c5ef2f3cabe6f6","type":"delay","z":"b0823cca61e55da7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":420,"y":280,"wires":[["82843fbd8b5af8ad"]]},{"id":"82843fbd8b5af8ad","type":"mqtt out","z":"b0823cca61e55da7","name":"PickAndPlace","topic":"robotics/value","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":620,"y":280,"wires":[]},{"id":"9ca2f49f5a96f975","type":"comment","z":"b0823cca61e55da7","name":"Conveyor Node","info":"\n    ","x":120,"y":100,"wires":[]},{"id":"6bfe6c28c259a22b","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":870,"y":860,"wires":[["a590ac8c0a5232ac"]]},{"id":"c4e4db875fe20206","type":"inject","z":"b0823cca61e55da7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"SELECT * FROM products;","payload":"","payloadType":"date","x":940,"y":960,"wires":[["6bfe6c28c259a22b"]]},{"id":"a590ac8c0a5232ac","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1090,"y":860,"wires":[]},{"id":"0ef83a4f69a0b6f7","type":"inject","z":"b0823cca61e55da7","name":"Go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Casa","payloadType":"str","x":430,"y":840,"wires":[["687a01a13df6afeb"]]},{"id":"687a01a13df6afeb","type":"function","z":"b0823cca61e55da7","name":"Select","func":"msg.topic = \"SELECT * FROM products WHERE \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":840,"wires":[["6bfe6c28c259a22b"]]},{"id":"3356ce81f97c9dbc","type":"function","z":"b0823cca61e55da7","name":"Select Where","func":"msg.topic = \"SELECT * FROM products WHERE ProductName = 'Casa';\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":880,"wires":[["6bfe6c28c259a22b"]]},{"id":"70eb61cb5bbf08f4","type":"inject","z":"b0823cca61e55da7","name":"Go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Casa","payloadType":"str","x":430,"y":880,"wires":[["3356ce81f97c9dbc"]]},{"id":"eabf67af5beee995","type":"function","z":"b0823cca61e55da7","name":"Insert","func":"msg.topic = \"INSERT INTO products (ProductName, PartNumber, ProductDescription, ProductArea) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":920,"wires":[["6bfe6c28c259a22b"]]},{"id":"c2fe49a839568916","type":"inject","z":"b0823cca61e55da7","name":"Go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Casa","payloadType":"str","x":430,"y":920,"wires":[["eabf67af5beee995"]]},{"id":"ad0e0af17b960fb0","type":"inject","z":"b0823cca61e55da7","name":"INSERT Bind - via JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"INSERT INTO products (ProductName, PartNumber, ProductDescription, ProductArea) VALUES (?, ?, ?, ?)","payload":"[\"CIAO BELLA\", \"1313ASDJE\", \"Una papera\", \"Zone1\"]","payloadType":"str","x":450,"y":960,"wires":[["1366fdeac3417e19"]]},{"id":"1366fdeac3417e19","type":"json","z":"b0823cca61e55da7","name":"","property":"payload","action":"","pretty":false,"x":650,"y":960,"wires":[["6bfe6c28c259a22b"]]},{"id":"bbdcd9a6f53fcbab","type":"function","z":"b0823cca61e55da7","name":"Insert","func":"msg.topic = \"INSERT INTO products (ProductName, PartNumber, ProductDescription, ProductArea) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":650,"y":1000,"wires":[[]]},{"id":"3150bff6d3161a19","type":"function","z":"b0823cca61e55da7","name":"","func":"msg.topic = \"SELECT * FROM products WHERE ProductName LIKE ?\";\nmsg.payload = [msg.payload.text];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":780,"wires":[["6bfe6c28c259a22b"]]},{"id":"8da7846c08257ba8","type":"function","z":"b0823cca61e55da7","name":"","func":"msg.topic = \"UPDATE products SET PartNumber = '98765ABCD', ProductDescription = 'Ciao Bella' WHERE ProductName = ?\";\nmsg.payload = [msg.payload.text];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":740,"wires":[["6bfe6c28c259a22b"]]},{"id":"573d0e1e89e7c8c3","type":"comment","z":"b0823cca61e55da7","name":"Database","info":"\n    ","x":420,"y":780,"wires":[]},{"id":"a8c4e1ca26da8210","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"Add Product","group":"54bca71e.4287f","order":0,"width":0,"height":0,"options":[{"label":"Product Name","value":"ProductName","type":"text","required":true,"rows":null},{"label":"Part Number","value":"PartNumber","type":"text","required":true,"rows":null},{"label":"Product Description","value":"ProductDescription","type":"text","required":true,"rows":null},{"label":"Product Area","value":"ProductArea","type":"text","required":true,"rows":null}],"formValue":{"ProductName":"","PartNumber":"","ProductDescription":"","ProductArea":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Form","topicType":"str","splitLayout":false,"className":"","x":450,"y":1060,"wires":[["064070abf99b9056"]]},{"id":"064070abf99b9056","type":"function","z":"b0823cca61e55da7","name":"Save Events","func":"\n// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":670,"y":1060,"wires":[["8dd7368c2795c449","6bfe6c28c259a22b"]]},{"id":"8dd7368c2795c449","type":"ui_template","z":"b0823cca61e55da7","group":"4d9f07f5ae42afac","name":"Dashboard Event Log ","order":1,"width":"6","height":"13","format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1000,"y":1120,"wires":[[]]},{"id":"145ff856c027dbcc","type":"ui_switch","z":"68677633e139a729","name":"","label":"Activate Robotic Arm","tooltip":"","group":"75c207ea7de8d2ad","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":100,"wires":[["592d8a0978c97ce7"]]},{"id":"1c2f8473da25bd21","type":"ui_slider","z":"68677633e139a729","name":"","label":"base","tooltip":"","group":"75c207ea7de8d2ad","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1390,"y":160,"wires":[["cc540a700940a18c"]]},{"id":"40b11ce4ddfcaabc","type":"ui_slider","z":"68677633e139a729","name":"","label":"shoulder","tooltip":"","group":"75c207ea7de8d2ad","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1400,"y":220,"wires":[["96abeeadb9d5b3c7"]]},{"id":"a7609a70666eeb76","type":"ui_slider","z":"68677633e139a729","name":"","label":"elbow","tooltip":"","group":"75c207ea7de8d2ad","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1390,"y":280,"wires":[["dff868e890542f2f"]]},{"id":"436181908d5a331e","type":"ui_slider","z":"68677633e139a729","name":"","label":"gripper","tooltip":"","group":"75c207ea7de8d2ad","order":5,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1400,"y":340,"wires":[["327d3170c1c2d2c4"]]},{"id":"592d8a0978c97ce7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/controller","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1650,"y":100,"wires":[]},{"id":"cc540a700940a18c","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/baseArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1630,"y":160,"wires":[]},{"id":"96abeeadb9d5b3c7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/shoulderArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1620,"y":220,"wires":[]},{"id":"dff868e890542f2f","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/elbowArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1630,"y":280,"wires":[]},{"id":"327d3170c1c2d2c4","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/gripperArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1620,"y":340,"wires":[]},{"id":"14997a7fc0babab9","type":"comment","z":"68677633e139a729","name":"ROBOTIC ARM CONTROL","info":"\n    ","x":1530,"y":60,"wires":[]}]