NodeRed Flow/flow_labIoT_21_06_2022.json
[{"id":"b0823cca61e55da7","type":"tab","label":"Sensing and Database Node","disabled":false,"info":"","env":[]},{"id":"68677633e139a729","type":"tab","label":"Robotic Node","disabled":false,"info":"","env":[]},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"raspberrypi","port":"1883","tls":"7e5d8e758d6a1640","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e5d8e758d6a1640","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"mosq_client.pem","keyname":"mosq_client.key.pem","caname":"mosq_ca.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"17522d42.149913","type":"ui_tab","name":"Robotic Node","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"92518872.4d2bc8","type":"ui_group","name":"Conveyor","tab":"17522d42.149913","order":1,"disp":true,"width":"6","collapse":true,"className":""},{"id":"a3844e43954f45e7","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#ffa000","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#f88920","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#0094CE","value":"#ffa000","edited":true},"page-titlebar-backgroundColor":{"value":"#ffa000","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#ffbd4d","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#ffa000","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Warehouse Automation Systems","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"46995d18ea56d5e9","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"warehouse","tz":"","charset":"UTF8"},{"id":"75c207ea7de8d2ad","type":"ui_group","name":"Robotic Arm Control","tab":"17522d42.149913","order":5,"disp":true,"width":"8","collapse":true,"className":""},{"id":"4d9f07f5ae42afac","type":"ui_group","name":"Database Table","tab":"67ff17e9.83751","order":2,"disp":true,"width":14,"collapse":true,"className":""},{"id":"d68e7be3.88f088","type":"ui_group","name":"QR Code / Event Log","tab":"67ff17e9.83751","order":5,"disp":true,"width":"5","collapse":true,"className":""},{"id":"54bca71e.4287f","type":"ui_group","name":"Add Product","tab":"67ff17e9.83751","order":1,"disp":true,"width":6,"collapse":true,"className":""},{"id":"67ff17e9.83751","type":"ui_tab","name":"Logistics","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"6eb2a5.27c0255c","type":"ui_group","name":"Commands","tab":"67ff17e9.83751","order":4,"disp":true,"width":5,"collapse":true,"className":""},{"id":"b572048ea1e99b76","type":"ui_group","name":"Robotic Car Control","tab":"17522d42.149913","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"aa0ed3a6ee746497","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"d68e7be3.88f088","order":2,"width":5,"height":1},{"id":"34e1ed7bd5bbe7ba","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"6eb2a5.27c0255c","order":1,"width":"1","height":"5"},{"id":"cc412229a302e8f3","type":"ui_group","name":"QR Generator","tab":"67ff17e9.83751","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"8be71319f9eb6cf5","type":"ui_group","name":"Robotic Car Parameters","tab":"17522d42.149913","order":4,"disp":true,"width":"6","collapse":true,"className":""},{"id":"f4586c93739862be","type":"mqtt in","z":"b0823cca61e55da7","name":"Camera","topic":"arm/camera","qos":"0","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":50,"y":480,"wires":[["6ba8f7d054616bc4"]]},{"id":"317314f1164b1589","type":"mqtt in","z":"b0823cca61e55da7","name":"Conveyor","topic":"conveyor/object","qos":"0","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":240,"wires":[["ce622d66307df6f7"]]},{"id":"781e08802704bbb5","type":"mqtt out","z":"b0823cca61e55da7","name":"Conveyor","topic":"conveyor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":440,"y":360,"wires":[]},{"id":"bd5d8c4743114f33","type":"ui_led","z":"b0823cca61e55da7","order":2,"group":"92518872.4d2bc8","width":0,"height":0,"label":"Status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"active","valueType":"str"},{"color":"#ff0000","value":"deactivate","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Status","x":430,"y":320,"wires":[]},{"id":"9ca2f49f5a96f975","type":"comment","z":"b0823cca61e55da7","name":"Conveyor Node","info":"\n    ","x":120,"y":100,"wires":[]},{"id":"6bfe6c28c259a22b","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":899,"y":853,"wires":[["a590ac8c0a5232ac","b4a5b3637bc142db"]]},{"id":"a590ac8c0a5232ac","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1094,"y":797,"wires":[]},{"id":"eabf67af5beee995","type":"function","z":"b0823cca61e55da7","name":"Insert","func":"msg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":1400,"wires":[[]]},{"id":"ad0e0af17b960fb0","type":"inject","z":"b0823cca61e55da7","name":"INSERT Bind - via JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"INSERT INTO products (Name, Number, Description, Area) VALUES (?, ?, ?, ?)","payload":"[\"CIAO BELLA\", \"1313ASDJE\", \"Una papera\", \"Zone1\"]","payloadType":"str","x":190,"y":1480,"wires":[["1366fdeac3417e19"]]},{"id":"1366fdeac3417e19","type":"json","z":"b0823cca61e55da7","name":"","property":"payload","action":"","pretty":false,"x":130,"y":1520,"wires":[[]]},{"id":"bbdcd9a6f53fcbab","type":"function","z":"b0823cca61e55da7","name":"INSERT INTO","func":"//msg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\n//return msg;\n\nvar name = msg.payload.productName;\nvar number = msg.payload.serialNumber;\nvar description = msg.payload.productDescription;\nvar area = msg.payload.productArea;\n\nmsg.payload = [name, number, description, area];\nmsg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES (?, ?, ?, ?);\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":880,"wires":[["6bfe6c28c259a22b","ad4f1c61372e00bb"]]},{"id":"3150bff6d3161a19","type":"function","z":"b0823cca61e55da7","name":"","func":"msg.topic = \"SELECT * FROM products WHERE Name LIKE ?\";\nmsg.payload = [msg.payload.text];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":1440,"wires":[[]]},{"id":"573d0e1e89e7c8c3","type":"comment","z":"b0823cca61e55da7","name":"DATABASE FLOW","info":"\n    ","x":910,"y":760,"wires":[]},{"id":"a8c4e1ca26da8210","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM ADD PRODUCT","group":"54bca71e.4287f","order":1,"width":6,"height":1,"options":[{"label":"Product Name","value":"productName","type":"text","required":true,"rows":null},{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null},{"label":"Product Description","value":"productDescription","type":"text","required":true,"rows":null},{"label":"Product Area","value":"productArea","type":"text","required":true,"rows":null}],"formValue":{"productName":"","serialNumber":"","productDescription":"","productArea":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Form","topicType":"str","splitLayout":false,"className":"","x":190,"y":880,"wires":[["bbdcd9a6f53fcbab"]]},{"id":"6f0e37f359e5573d","type":"debug","z":"b0823cca61e55da7","name":"Dashboard Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1104,"y":937,"wires":[]},{"id":"ad4f1c61372e00bb","type":"function","z":"b0823cca61e55da7","name":"Save Events","func":"\n// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":894,"y":917,"wires":[["6f0e37f359e5573d","8099571f47a68b76"]]},{"id":"8099571f47a68b76","type":"ui_template","z":"b0823cca61e55da7","group":"d68e7be3.88f088","name":"Dashboard Event Log ","order":3,"width":5,"height":6,"format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1120,"y":900,"wires":[[]]},{"id":"1a3da59e6601e9f9","type":"ui_table","z":"b0823cca61e55da7","group":"4d9f07f5ae42afac","name":"","order":1,"width":14,"height":6,"columns":[],"outputs":0,"cts":false,"x":1370,"y":840,"wires":[]},{"id":"d39da7865c1ccd2b","type":"function","z":"b0823cca61e55da7","name":"search-query","func":"//msg.topic=\"SELECT CONCAT('M00','',test.id) AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nmsg.topic=\"SELECT test.id AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":130,"y":1360,"wires":[[]]},{"id":"c871d3db5ad265d3","type":"ui_template","z":"b0823cca61e55da7","group":"d68e7be3.88f088","name":"","order":1,"width":0,"height":0,"format":"<div style=\"margin-bottom: 10px;\">\n<img src=\"http://192.168.1.134:81/stream\" width=\"250px\" height=\"250\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":520,"y":1080,"wires":[[]]},{"id":"40d308a3da945a2c","type":"function","z":"b0823cca61e55da7","name":"DELETE","func":"var number = msg.payload.text;\nmsg.payload = [number];\nmsg.topic = \"DELETE FROM products WHERE Number = ?\";\nreturn msg;\n\n\n//msg.topic = \"DELETE FROM products WHERE Number = ?\";\n//msg.payload = [msg.payload.text];\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":800,"wires":[["6bfe6c28c259a22b"]]},{"id":"14f2c94f50fccd9e","type":"function","z":"b0823cca61e55da7","name":"SELECT","func":"msg.topic = \"SELECT * FROM products\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":840,"wires":[["6bfe6c28c259a22b"]]},{"id":"b4a5b3637bc142db","type":"function","z":"b0823cca61e55da7","name":"SELECT","func":"msg.topic = \"SELECT * FROM products\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":840,"wires":[["5cb68d21ebaeded0"]]},{"id":"5cb68d21ebaeded0","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":1230,"y":840,"wires":[["1a3da59e6601e9f9"]]},{"id":"12af7222ebcd84e5","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM DELETE PRODUCT","group":"54bca71e.4287f","order":2,"width":6,"height":1,"options":[{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null}],"formValue":{"serialNumber":""},"payload":"","submit":"Delete","cancel":"Cancel","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":180,"y":920,"wires":[["546e4ab77bfda83e"]]},{"id":"546e4ab77bfda83e","type":"function","z":"b0823cca61e55da7","name":"DELETE","func":"var number = msg.payload.serialNumber;\nmsg.payload = [number];\nmsg.topic = \"DELETE FROM products WHERE Number = ?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":920,"wires":[["6bfe6c28c259a22b"]]},{"id":"0dac98353f8354f9","type":"function","z":"b0823cca61e55da7","name":"","func":"msg.qrcodeinput = msg.payload.serialNumber;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":1180,"wires":[["2441a17f4c126227"]]},{"id":"71778beaa8c14df7","type":"ui_template","z":"b0823cca61e55da7","group":"cc412229a302e8f3","name":"","order":1,"width":"6","height":"6","format":"<img src={{msg.payload}}>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":520,"y":1140,"wires":[[]]},{"id":"2441a17f4c126227","type":"qrcode-generator","z":"b0823cca61e55da7","name":"","qrtype":"text2qr","text2qrText":"","ssid":"ISHIELDS","hiddenssid":false,"wifitype":"WPA","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":370,"y":1240,"wires":[["71778beaa8c14df7"]]},{"id":"0fbed67b66ef5842","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM CREATE QR CODE","group":"cc412229a302e8f3","order":1,"width":6,"height":1,"options":[{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null}],"formValue":{"serialNumber":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"topic","topicType":"msg","splitLayout":false,"className":"","x":180,"y":1120,"wires":[["0dac98353f8354f9"]]},{"id":"50c5ab7be1f663ad","type":"ui_button","z":"b0823cca61e55da7","name":"","group":"6eb2a5.27c0255c","order":2,"width":3,"height":1,"passthru":false,"label":"REFRESH","tooltip":"clear all table data","color":"","bgcolor":"","className":"","icon":"","payload":"refresh","payloadType":"str","topic":"","topicType":"str","x":230,"y":840,"wires":[["14f2c94f50fccd9e"]]},{"id":"8bd27afcbd7e2da4","type":"ui_button","z":"b0823cca61e55da7","name":"","group":"6eb2a5.27c0255c","order":3,"width":"3","height":1,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"start","payloadType":"str","topic":"","topicType":"str","x":140,"y":1080,"wires":[["c871d3db5ad265d3"]]},{"id":"b2b09f39.2ac5d","type":"inject","z":"b0823cca61e55da7","name":"Go","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":710,"y":1220,"wires":[["9b2cfd89.80b03"]]},{"id":"9b2cfd89.80b03","type":"function","z":"b0823cca61e55da7","name":"INSERT Data","func":"msg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1220,"wires":[[]]},{"id":"e4a98c17.08f2d","type":"inject","z":"b0823cca61e55da7","name":"Go","repeat":"","crontab":"","once":false,"topic":"","payload":"","payloadType":"date","x":708,"y":1272,"wires":[[]]},{"id":"e4201ad4.996998","type":"inject","z":"b0823cca61e55da7","name":"Go","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"warehouse","payloadType":"str","x":710,"y":1440,"wires":[["be458293.0fb91"]]},{"id":"be458293.0fb91","type":"function","z":"b0823cca61e55da7","name":"SELECT Data","func":"msg.topic = \"SELECT * FROM department WHERE department_name LIKE '%\" + msg.payload + \"%'\";\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":1440,"wires":[[]]},{"id":"9c203b7a.d31738","type":"inject","z":"b0823cca61e55da7","name":"INSERT Bind - via JSON","repeat":"","crontab":"","once":false,"topic":"INSERT INTO test (id,text) VALUES (?, ?)","payload":"[4, \"This is a funny world's end\"]","payloadType":"str","x":650,"y":1340,"wires":[["404656b9.7048b8"]]},{"id":"404656b9.7048b8","type":"json","z":"b0823cca61e55da7","name":"","x":870,"y":1340,"wires":[[]]},{"id":"421f97c2.5607f8","type":"inject","z":"b0823cca61e55da7","name":"Go \"Warehouse\"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"%Warehouse%","payloadType":"str","x":720,"y":1500,"wires":[["778ca316.16ea8c"]]},{"id":"778ca316.16ea8c","type":"function","z":"b0823cca61e55da7","name":"SELECT Data","func":"msg.topic = \"SELECT * FROM Department WHERE Department_Name LIKE ?\";\nmsg.payload = [msg.payload];\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":1520,"wires":[[]]},{"id":"632ef9df.2db478","type":"inject","z":"b0823cca61e55da7","name":"Go \"MAnagers\"","repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"%Managers%","payloadType":"str","x":720,"y":1540,"wires":[["778ca316.16ea8c"]]},{"id":"88f58b45.552b48","type":"function","z":"b0823cca61e55da7","name":"Delete Bind","func":"msg.topic = \"Delete From department where Department_id = ?\";\nmsg.payload = [ \"6\"];\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1380,"wires":[[]]},{"id":"8be8aa44.6b7868","type":"inject","z":"b0823cca61e55da7","name":"Go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":710,"y":1380,"wires":[["88f58b45.552b48"]]},{"id":"a2cac161.b5ebf","type":"function","z":"b0823cca61e55da7","name":"INSERT Data","func":"msg.topic = \"INSERT INTO department (department_name) VALUES (?)\";\nmsg.payload = [ \"test\"];\nreturn msg;\n\nmsg.topic = \"INSERT INTO ?? (??) VALUES (?)\";\nmsg.payload = [\"Department\",\"Department_name\",\"test\"];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":1160,"wires":[[]]},{"id":"cabc5ca6.c3e37","type":"inject","z":"b0823cca61e55da7","name":"Go","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"str","x":710,"y":1160,"wires":[["a2cac161.b5ebf"]]},{"id":"34adfd8efcc12fa0","type":"function","z":"b0823cca61e55da7","name":"UPDATE","func":"msg.topic=\"UPDATE products SET Name='\" + msg.payload.productName + \"', Number='\" + msg.payload.serialNumber + \"', Description='\" + msg.payload.productDescription + \"', area='\" + msg.payload.productArea + \"' WHERE Number='\" + msg.payload.serialNumber + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":960,"wires":[["6bfe6c28c259a22b"]]},{"id":"1864e71d98905876","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":750,"y":1000,"wires":[]},{"id":"e594525d02e9ecf2","type":"function","z":"b0823cca61e55da7","name":"UPDATE","func":"var name = msg.payload.productName;\nvar number = msg.payload.serialNumber;\nvar description = msg.payload.productDescription;\nvar area = msg.payload.productArea;\n\nmsg.payload = [name, number, description, area, number];\n\nmsg.topic=\"UPDATE products SET Name=??, Number=??, Description=??, area=?? WHERE Number=?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":1000,"wires":[["1864e71d98905876"]]},{"id":"5deb31c3f896b918","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM UPDATE PRODUCT","group":"54bca71e.4287f","order":1,"width":6,"height":1,"options":[{"label":"Product Name","value":"productName","type":"text","required":true,"rows":null},{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null},{"label":"Product Description","value":"productDescription","type":"text","required":true,"rows":null},{"label":"Product Area","value":"productArea","type":"text","required":true,"rows":null}],"formValue":{"productName":"","serialNumber":"","productDescription":"","productArea":""},"payload":"","submit":"Update","cancel":"Cancel","topic":"Form","topicType":"str","splitLayout":false,"className":"","x":180,"y":960,"wires":[["34adfd8efcc12fa0"]]},{"id":"a76668b6c58d736d","type":"mqtt out","z":"b0823cca61e55da7","name":"Camera","topic":"arm/camera","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1800,"y":580,"wires":[]},{"id":"479a80a96c7d7b93","type":"ui_switch","z":"b0823cca61e55da7","name":"","label":"Activate Robotic Caveyor","tooltip":"","group":"92518872.4d2bc8","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"active","onvalueType":"str","onicon":"","oncolor":"","offvalue":"deactivate","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":190,"y":340,"wires":[["781e08802704bbb5","bd5d8c4743114f33"]]},{"id":"ce622d66307df6f7","type":"ui_led","z":"b0823cca61e55da7","order":3,"group":"92518872.4d2bc8","width":0,"height":0,"label":"Object","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#008000","value":"green","valueType":"str"},{"color":"#ff0000","value":"red","valueType":"str"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Object","x":430,"y":240,"wires":[]},{"id":"f3e5e985a952b5b2","type":"function","z":"b0823cca61e55da7","name":"","func":"return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":580,"wires":[["95d7e910b7b6558f","c4c3be84a98c8e6c"]]},{"id":"6ba8f7d054616bc4","type":"http request","z":"b0823cca61e55da7","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.134/capture","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":270,"y":480,"wires":[["bbdfe61b9a3ac7b3"]]},{"id":"7ff4eafa8a551beb","type":"comment","z":"b0823cca61e55da7","name":"QR Code Scanner","info":"\n    ","x":110,"y":420,"wires":[]},{"id":"21b56a2f41cfa6c2","type":"Barcode Decoder","z":"b0823cca61e55da7","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":870,"y":480,"wires":[["4dadd47ffde241a9","f3e5e985a952b5b2"]]},{"id":"4dadd47ffde241a9","type":"debug","z":"b0823cca61e55da7","name":"See output on debug sidebar","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1149,"y":473,"wires":[]},{"id":"fcc938153fb09fe5","type":"jimp-image","z":"b0823cca61e55da7","name":"clean up image","data":"payload","dataType":"msg","ret":"img","parameter1":"-1.0","parameter1Type":"num","parameter2":"240","parameter2Type":"none","parameter3":"","parameter3Type":"none","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":0,"jimpFunction":"normalize","selectedJimpFunction":{"name":"normalize","fn":"normalize","description":"normalize the channels in an image","parameters":[]},"x":660,"y":480,"wires":[["21b56a2f41cfa6c2"]],"icon":"font-awesome/fa-image"},{"id":"bbdfe61b9a3ac7b3","type":"image viewer","z":"b0823cca61e55da7","name":"","width":"100","data":"payload","dataType":"msg","active":true,"x":450,"y":480,"wires":[["fcc938153fb09fe5"]]},{"id":"95d7e910b7b6558f","type":"debug","z":"b0823cca61e55da7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":660,"wires":[]},{"id":"bcb1591edca486ea","type":"qrcode-generator","z":"b0823cca61e55da7","name":"","qrtype":"text2qr","text2qrText":"1","ssid":"ISHIELDS","hiddenssid":false,"wifitype":"WPA","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":610,"y":560,"wires":[["21b56a2f41cfa6c2"]]},{"id":"d589020e5eae13fe","type":"inject","z":"b0823cca61e55da7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":410,"y":560,"wires":[["bcb1591edca486ea"]]},{"id":"c4c3be84a98c8e6c","type":"function","z":"b0823cca61e55da7","name":"SELECT","func":"msg.topic = \"SELECT area FROM products WHERE Number='\" + msg.payload + \"'\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":580,"wires":[["86ca69561bdc6a42"]]},{"id":"86ca69561bdc6a42","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":1430,"y":580,"wires":[["492860112fd28d46"]]},{"id":"492860112fd28d46","type":"function","z":"b0823cca61e55da7","name":"","func":"var area = msg.payload[0].area;\nmsg.payload = area;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1600,"y":580,"wires":[["e45d3c9323c95ed6","a76668b6c58d736d"]]},{"id":"e45d3c9323c95ed6","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1890,"y":480,"wires":[]},{"id":"ab90cf1ff00cd288","type":"inject","z":"b0823cca61e55da7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":390,"y":620,"wires":[["36da2942270fc217"]]},{"id":"36da2942270fc217","type":"qrcode-generator","z":"b0823cca61e55da7","name":"","qrtype":"text2qr","text2qrText":"2","ssid":"ISHIELDS","hiddenssid":false,"wifitype":"WPA","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":590,"y":620,"wires":[["21b56a2f41cfa6c2"]]},{"id":"493ba2b97856add6","type":"inject","z":"b0823cca61e55da7","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":390,"y":680,"wires":[["61889f2f798778a4"]]},{"id":"61889f2f798778a4","type":"qrcode-generator","z":"b0823cca61e55da7","name":"","qrtype":"text2qr","text2qrText":"3","ssid":"ISHIELDS","hiddenssid":false,"wifitype":"WPA","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":590,"y":680,"wires":[["21b56a2f41cfa6c2"]]},{"id":"145ff856c027dbcc","type":"ui_switch","z":"68677633e139a729","name":"","label":"Activate Robotic Arm","tooltip":"","group":"75c207ea7de8d2ad","order":7,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"manual","onvalueType":"str","onicon":"","oncolor":"","offvalue":"automatic","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":100,"wires":[["592d8a0978c97ce7"]]},{"id":"1c2f8473da25bd21","type":"ui_slider","z":"68677633e139a729","name":"","label":"Base","tooltip":"","group":"75c207ea7de8d2ad","order":1,"width":"0","height":"0","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":1390,"y":160,"wires":[["cc540a700940a18c"]]},{"id":"40b11ce4ddfcaabc","type":"ui_slider","z":"68677633e139a729","name":"","label":"Shoulder","tooltip":"","group":"75c207ea7de8d2ad","order":2,"width":"0","height":"0","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":1400,"y":220,"wires":[["96abeeadb9d5b3c7"]]},{"id":"a7609a70666eeb76","type":"ui_slider","z":"68677633e139a729","name":"","label":"Elbow","tooltip":"","group":"75c207ea7de8d2ad","order":3,"width":"0","height":"0","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"200","step":1,"className":"","x":1390,"y":280,"wires":[["dff868e890542f2f"]]},{"id":"436181908d5a331e","type":"ui_slider","z":"68677633e139a729","name":"","label":"Gripper","tooltip":"","group":"75c207ea7de8d2ad","order":6,"width":"0","height":"0","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":"105","max":"180","step":1,"className":"","x":1400,"y":460,"wires":[["327d3170c1c2d2c4"]]},{"id":"592d8a0978c97ce7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"arm/controller","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1660,"y":100,"wires":[]},{"id":"cc540a700940a18c","type":"mqtt out","z":"68677633e139a729","name":"","topic":"arm/baseArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1660,"y":160,"wires":[]},{"id":"96abeeadb9d5b3c7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"arm/shoulderArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1670,"y":220,"wires":[]},{"id":"dff868e890542f2f","type":"mqtt out","z":"68677633e139a729","name":"","topic":"arm/elbowArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1660,"y":280,"wires":[]},{"id":"327d3170c1c2d2c4","type":"mqtt out","z":"68677633e139a729","name":"","topic":"arm/gripperArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1660,"y":460,"wires":[]},{"id":"14997a7fc0babab9","type":"comment","z":"68677633e139a729","name":"ROBOTIC ARM CONTROL","info":"\n    ","x":1530,"y":60,"wires":[]},{"id":"51cdc8314b85dd72","type":"comment","z":"68677633e139a729","name":"ROBOTIC CAR CONTROL","info":"\n    ","x":670,"y":60,"wires":[]},{"id":"70471b7e807cb4d7","type":"ui_button","z":"68677633e139a729","name":"Forward","group":"b572048ea1e99b76","order":2,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"keyboard_arrow_up","payload":"Forward","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":100,"wires":[["6034200dcf238ec4"]]},{"id":"6034200dcf238ec4","type":"mqtt out","z":"68677633e139a729","name":"","topic":"car/control","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1090,"y":260,"wires":[]},{"id":"dc10c51287a66fc6","type":"ui_button","z":"68677633e139a729","name":"Backward","group":"b572048ea1e99b76","order":8,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"keyboard_arrow_down","payload":"Backward","payloadType":"str","topic":"topic","topicType":"msg","x":620,"y":140,"wires":[["6034200dcf238ec4"]]},{"id":"69cdc819e6aeafcf","type":"ui_button","z":"68677633e139a729","name":"Left","group":"b572048ea1e99b76","order":4,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"keyboard_arrow_left","payload":"Left","payloadType":"str","topic":"topic","topicType":"msg","x":610,"y":180,"wires":[["6034200dcf238ec4"]]},{"id":"86a6732844c68086","type":"ui_button","z":"68677633e139a729","name":"Right","group":"b572048ea1e99b76","order":6,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"keyboard_arrow_right","payload":"Right","payloadType":"str","topic":"topic","topicType":"msg","x":610,"y":220,"wires":[["6034200dcf238ec4"]]},{"id":"9c06326bd18f7b3b","type":"ui_button","z":"68677633e139a729","name":"LeftForward","group":"b572048ea1e99b76","order":1,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"undo","payload":"LeftForward","payloadType":"str","topic":"topic","topicType":"msg","x":630,"y":260,"wires":[["6034200dcf238ec4"]]},{"id":"715287bfbd22fc27","type":"ui_button","z":"68677633e139a729","name":"RightForward","group":"b572048ea1e99b76","order":3,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"redo","payload":"RightForward","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":340,"wires":[["6034200dcf238ec4"]]},{"id":"81426a03ec47a756","type":"ui_button","z":"68677633e139a729","name":"RightBackward","group":"b572048ea1e99b76","order":9,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"subdirectory_arrow_right","payload":"RightBackward","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":380,"wires":[["6034200dcf238ec4"]]},{"id":"a3e1d126526f4918","type":"ui_button","z":"68677633e139a729","name":"Stop","group":"b572048ea1e99b76","order":5,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"pause","payload":"stop_it","payloadType":"str","topic":"topic","topicType":"msg","x":610,"y":420,"wires":[["6034200dcf238ec4"]]},{"id":"6b54698e.ed4b28","type":"ui_joystick","z":"68677633e139a729","name":"Car JoyStick","group":"b572048ea1e99b76","order":10,"width":6,"height":6,"trigger":"all","timeInterval":"1000","useThemeColor":true,"color":"#7b73c9","threshold":"0.1","directions":"all","shape":"circle","centerAtRelease":true,"x":630,"y":520,"wires":[["3094ca49acf9b9f5"]]},{"id":"3094ca49acf9b9f5","type":"function","z":"68677633e139a729","name":"","func":"if (msg.payload.direction.angle == null ) {\n    msg.payload = \"stop_it\";\n}\nelse if (msg.payload.direction.angle == \"up\" ) {\n    msg.payload = \"Forward\";\n}\nelse if (msg.payload.direction.angle == \"down\" ) {\n    msg.payload = \"Backward\";\n}\nelse if (msg.payload.direction.angle == \"right\" ) {\n    msg.payload = \"Right\";\n}\nelse if (msg.payload.direction.angle == \"left\" ) {\n    msg.payload = \"Left\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":520,"wires":[["6034200dcf238ec4"]]},{"id":"3d3bbe547a1e546b","type":"ui_button","z":"68677633e139a729","name":"LeftBackward","group":"b572048ea1e99b76","order":7,"width":2,"height":1,"passthru":false,"label":"","tooltip":"","color":"","bgcolor":"","className":"","icon":"subdirectory_arrow_left","payload":"LeftBackward","payloadType":"str","topic":"topic","topicType":"msg","x":640,"y":300,"wires":[["6034200dcf238ec4"]]},{"id":"67c0a4dbd3158951","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":1250,"y":100,"wires":[["145ff856c027dbcc"]]},{"id":"71e340aef60dd7bf","type":"ui_slider","z":"68677633e139a729","name":"","label":"Wrist Pitch","tooltip":"","group":"75c207ea7de8d2ad","order":4,"width":"0","height":"0","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"190","step":1,"className":"","x":1410,"y":340,"wires":[["2cf6232375cad6eb"]]},{"id":"2cf6232375cad6eb","type":"mqtt out","z":"68677633e139a729","name":"","topic":"arm/wristPitchArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1670,"y":340,"wires":[]},{"id":"7af12b885520a729","type":"ui_slider","z":"68677633e139a729","name":"","label":"Wrist Roll","tooltip":"","group":"75c207ea7de8d2ad","order":5,"width":"0","height":"0","passthru":true,"outs":"end","topic":"topic","topicType":"msg","min":0,"max":"180","step":1,"className":"","x":1400,"y":400,"wires":[["7abc3e9e859aba0d"]]},{"id":"7abc3e9e859aba0d","type":"mqtt out","z":"68677633e139a729","name":"","topic":"arm/wristRollArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1670,"y":400,"wires":[]},{"id":"a9ea15ba2faaf46f","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"10","payloadType":"num","x":1250,"y":160,"wires":[["1c2f8473da25bd21"]]},{"id":"51220e25aa642ea3","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":1250,"y":220,"wires":[["40b11ce4ddfcaabc"]]},{"id":"8e2b40e934253e94","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"190","payloadType":"num","x":1250,"y":280,"wires":[["a7609a70666eeb76"]]},{"id":"743b45f6897b2420","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"190","payloadType":"num","x":1250,"y":340,"wires":[["71e340aef60dd7bf"]]},{"id":"fbd7e05abcc9d988","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":1250,"y":400,"wires":[["7af12b885520a729"]]},{"id":"fd42b694fcc3eea0","type":"inject","z":"68677633e139a729","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"105","payloadType":"num","x":1250,"y":460,"wires":[["436181908d5a331e"]]},{"id":"0847d64506e75e90","type":"ui_switch","z":"68677633e139a729","name":"","label":"Activate Robotic Car","tooltip":"","group":"b572048ea1e99b76","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"Manual","onvalueType":"str","onicon":"","oncolor":"","offvalue":"Automatic","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":660,"y":460,"wires":[["6034200dcf238ec4"]]},{"id":"52cb13787e248238","type":"ui_form","z":"68677633e139a729","name":"Car Parameters","label":"","group":"8be71319f9eb6cf5","order":1,"width":0,"height":0,"options":[{"label":"Direction","value":"direction","type":"number","required":false,"rows":null},{"label":"Distance","value":"distance","type":"number","required":false,"rows":null},{"label":"Speed Hi","value":"speed_hi","type":"number","required":false,"rows":null},{"label":"Speed Low","value":"speed_low","type":"number","required":false,"rows":null},{"label":"Area","value":"area","type":"text","required":false,"rows":null},{"label":"Servo camera","value":"servo","type":"number","required":false,"rows":null}],"formValue":{"direction":"","distance":"","speed_hi":"","speed_low":"","area":"","servo":""},"payload":"","submit":"submit","cancel":"","topic":"topic","topicType":"msg","splitLayout":false,"className":"","x":640,"y":580,"wires":[["91d5bd8a920d0a89"]]},{"id":"91d5bd8a920d0a89","type":"mqtt out","z":"68677633e139a729","name":"","topic":"car/parameters","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1080,"y":580,"wires":[]},{"id":"9bc6e91eed6b5628","type":"ui_switch","z":"68677633e139a729","name":"","label":"Activate Robotic Car","tooltip":"","group":"8be71319f9eb6cf5","order":11,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"param_on","onvalueType":"str","onicon":"","oncolor":"","offvalue":"param_off","offvalueType":"str","officon":"","offcolor":"","animate":false,"className":"","x":660,"y":620,"wires":[["91d5bd8a920d0a89"]]}]