NodeRed Flow/flow_labIoT_22_04_2022.json
[{"id":"b0823cca61e55da7","type":"tab","label":"Sensing and Database Node","disabled":false,"info":"","env":[]},{"id":"68677633e139a729","type":"tab","label":"Robotic Node","disabled":false,"info":"","env":[]},{"id":"b716fdc48724e610","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10e78a89.5b4fd5","type":"mqtt-broker","name":"","broker":"raspberrypi","port":"1883","tls":"7e5d8e758d6a1640","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7e5d8e758d6a1640","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"mosq_client.pem","keyname":"mosq_client.key.pem","caname":"mosq_ca.pem","servername":"","verifyservercert":true,"alpnprotocol":""},{"id":"17522d42.149913","type":"ui_tab","name":"Robotic Node","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"92518872.4d2bc8","type":"ui_group","name":"Conveyor","tab":"17522d42.149913","order":1,"disp":true,"width":"3","collapse":true,"className":""},{"id":"a3844e43954f45e7","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#f88920","baseFont":"Arial,Arial,Helvetica,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#f88920","edited":true},"page-titlebar-backgroundColor":{"value":"#f88920","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#fab06a","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#f88920","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Arial,Arial,Helvetica,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"46995d18ea56d5e9","type":"MySQLdatabase","name":"","host":"localhost","port":"3306","db":"warehouse","tz":"","charset":"UTF8"},{"id":"75c207ea7de8d2ad","type":"ui_group","name":"Robotic Arm Control","tab":"17522d42.149913","order":2,"disp":true,"width":"6","collapse":true,"className":""},{"id":"4d9f07f5ae42afac","type":"ui_group","name":"Database Table","tab":"67ff17e9.83751","order":2,"disp":true,"width":14,"collapse":true,"className":""},{"id":"d68e7be3.88f088","type":"ui_group","name":"QR Code / Event Log","tab":"67ff17e9.83751","order":4,"disp":true,"width":"5","collapse":true,"className":""},{"id":"54bca71e.4287f","type":"ui_group","name":"Add Product","tab":"67ff17e9.83751","order":1,"disp":true,"width":6,"collapse":true,"className":""},{"id":"67ff17e9.83751","type":"ui_tab","name":"Logistics","icon":"home","order":2,"disabled":false,"hidden":false},{"id":"6eb2a5.27c0255c","type":"ui_group","name":"Commands","tab":"67ff17e9.83751","order":3,"disp":true,"width":5,"collapse":true,"className":""},{"id":"b572048ea1e99b76","type":"ui_group","name":"Robotic Car Control","tab":"17522d42.149913","order":3,"disp":true,"width":"6","collapse":true,"className":""},{"id":"9eb19ca7ae6787ba","type":"ui_group","name":"QR Code","tab":"b0be4e53a8318c60","order":1,"disp":true,"width":"6","collapse":false},{"id":"b0be4e53a8318c60","type":"ui_tab","name":"QR CODE GENERATOR","icon":"dashboard","disabled":false,"hidden":false},{"id":"01c52b866f2e1135","type":"ui_tab","name":"esp32-cam","icon":"dashboard","disabled":false,"hidden":false},{"id":"824e580dfd3e2a5c","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"6eb2a5.27c0255c","order":1,"width":1,"height":1},{"id":"e8a4d34f33e82d5d","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"6eb2a5.27c0255c","order":3,"width":1,"height":1},{"id":"56308f39aca0eea6","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"6eb2a5.27c0255c","order":4,"width":1,"height":1},{"id":"570eb8d4f7d85347","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"6eb2a5.27c0255c","order":6,"width":1,"height":1},{"id":"5b569d5ce0965433","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"6eb2a5.27c0255c","order":7,"width":1,"height":1},{"id":"fe32a72e6ca6761f","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"6eb2a5.27c0255c","order":9,"width":"1","height":"2"},{"id":"aa0ed3a6ee746497","type":"ui_spacer","z":"b0823cca61e55da7","name":"spacer","group":"d68e7be3.88f088","order":2,"width":5,"height":1},{"id":"0cebbfaa666ebf0b","type":"ui_group","name":"Default","tab":"537543f08c932a5e","order":1,"disp":true,"width":"6","collapse":false},{"id":"537543f08c932a5e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e5e4ba3f.5290e8","type":"ui_group","name":"Recorder demo","tab":"4c302198.634e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c302198.634e8","type":"ui_tab","name":"Media test","icon":"fa-video-camera","disabled":false,"hidden":false},{"id":"f846bf7d4708b68e","type":"http request","z":"b0823cca61e55da7","name":"","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.1.4:80/","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":279,"y":493,"wires":[["a409790be771bbcd","6c032dc0b33c4406","c871d3db5ad265d3"]]},{"id":"f4586c93739862be","type":"mqtt in","z":"b0823cca61e55da7","name":"Camera","topic":"camera/capture","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":119,"y":493,"wires":[["f846bf7d4708b68e"]]},{"id":"c86af8cd4e54433f","type":"comment","z":"b0823cca61e55da7","name":"QR Code Scanner","info":"\n    ","x":170,"y":440,"wires":[]},{"id":"a409790be771bbcd","type":"image","z":"b0823cca61e55da7","name":"Original Image","width":"160","data":"payload","dataType":"msg","thumbnail":false,"active":true,"pass":false,"outputs":0,"x":880,"y":320,"wires":[]},{"id":"df4ebd44a6ecd43f","type":"Barcode Decoder","z":"b0823cca61e55da7","name":"","data":"payload","dataType":"msg","tryharder":"true","tryharderType":"bool","QR_CODE":true,"DATA_MATRIX":false,"PDF_417":false,"EAN_8":false,"EAN_13":false,"CODE_39":false,"CODE_128":false,"ITF":false,"RSS_14":false,"x":939,"y":493,"wires":[["b45326c09a13b49c","a76668b6c58d736d","40d308a3da945a2c"]]},{"id":"b45326c09a13b49c","type":"debug","z":"b0823cca61e55da7","name":"See output on debug sidebar","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1209,"y":493,"wires":[]},{"id":"801f3b7ca4d1f8a3","type":"jimp-image","z":"b0823cca61e55da7","name":"clean up image","data":"payload","dataType":"msg","ret":"img","parameter1":"-1.0","parameter1Type":"num","parameter2":"240","parameter2Type":"none","parameter3":"","parameter3Type":"none","parameter4":"","parameter4Type":"","parameter5":"","parameter5Type":"","parameter6":"","parameter6Type":"","parameter7":"","parameter7Type":"","parameter8":"","parameter8Type":"","sendProperty":"payload","parameterCount":0,"jimpFunction":"normalize","selectedJimpFunction":{"name":"normalize","fn":"normalize","description":"normalize the channels in an image","parameters":[]},"x":720,"y":500,"wires":[["df4ebd44a6ecd43f"]],"icon":"font-awesome/fa-image"},{"id":"6c032dc0b33c4406","type":"image viewer","z":"b0823cca61e55da7","name":"","width":"100","data":"payload","dataType":"msg","active":true,"x":479,"y":493,"wires":[["801f3b7ca4d1f8a3"]]},{"id":"317314f1164b1589","type":"mqtt in","z":"b0823cca61e55da7","name":"Radar","topic":"radar/conveyor","qos":"2","datatype":"auto","broker":"10e78a89.5b4fd5","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":160,"wires":[["781e08802704bbb5","bd5d8c4743114f33","462eb6f20fcfea2d","67429e1ec8604623","a9a17a6fe6d624c0","58c5ef2f3cabe6f6"]]},{"id":"781e08802704bbb5","type":"mqtt out","z":"b0823cca61e55da7","name":"Conveyor","topic":"radar/conveyor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":400,"y":60,"wires":[]},{"id":"bd5d8c4743114f33","type":"ui_led","z":"b0823cca61e55da7","order":1,"group":"92518872.4d2bc8","width":"0","height":"0","label":"Conveyor 1","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"First Conveyor","x":440,"y":120,"wires":[]},{"id":"462eb6f20fcfea2d","type":"ui_led","z":"b0823cca61e55da7","order":2,"group":"92518872.4d2bc8","width":0,"height":0,"label":"Conveyor 2","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Second Conveyor","x":450,"y":160,"wires":[]},{"id":"67429e1ec8604623","type":"ui_led","z":"b0823cca61e55da7","order":3,"group":"92518872.4d2bc8","width":0,"height":0,"label":"Conveyor 3","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Thirth Conveyor","x":440,"y":200,"wires":[]},{"id":"a9a17a6fe6d624c0","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"classes","statusType":"auto","x":430,"y":240,"wires":[]},{"id":"58c5ef2f3cabe6f6","type":"delay","z":"b0823cca61e55da7","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":420,"y":280,"wires":[["82843fbd8b5af8ad"]]},{"id":"82843fbd8b5af8ad","type":"mqtt out","z":"b0823cca61e55da7","name":"PickAndPlace","topic":"robotics/value","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":620,"y":280,"wires":[]},{"id":"9ca2f49f5a96f975","type":"comment","z":"b0823cca61e55da7","name":"Conveyor Node","info":"\n    ","x":120,"y":100,"wires":[]},{"id":"6bfe6c28c259a22b","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":899,"y":853,"wires":[["a590ac8c0a5232ac","b4a5b3637bc142db"]]},{"id":"a590ac8c0a5232ac","type":"debug","z":"b0823cca61e55da7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1094,"y":797,"wires":[]},{"id":"eabf67af5beee995","type":"function","z":"b0823cca61e55da7","name":"Insert","func":"msg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":90,"y":1100,"wires":[[]]},{"id":"ad0e0af17b960fb0","type":"inject","z":"b0823cca61e55da7","name":"INSERT Bind - via JSON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"INSERT INTO products (Name, Number, Description, Area) VALUES (?, ?, ?, ?)","payload":"[\"CIAO BELLA\", \"1313ASDJE\", \"Una papera\", \"Zone1\"]","payloadType":"str","x":170,"y":1180,"wires":[["1366fdeac3417e19"]]},{"id":"1366fdeac3417e19","type":"json","z":"b0823cca61e55da7","name":"","property":"payload","action":"","pretty":false,"x":110,"y":1220,"wires":[[]]},{"id":"bbdcd9a6f53fcbab","type":"function","z":"b0823cca61e55da7","name":"INSERT INTO","func":"//msg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES ('Bici', '432232ADEE', 'Gran Canyon', 'Zone2');\";\n//return msg;\n\nvar name = msg.payload.productName;\nvar number = msg.payload.serialNumber;\nvar description = msg.payload.productDescription;\nvar area = msg.payload.productArea;\n\nmsg.payload = [name, number, description, area];\nmsg.topic = \"INSERT INTO products (Name, Number, Description, Area) VALUES (?, ?, ?, ?);\"\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":880,"wires":[["6bfe6c28c259a22b","ad4f1c61372e00bb"]]},{"id":"3150bff6d3161a19","type":"function","z":"b0823cca61e55da7","name":"","func":"msg.topic = \"SELECT * FROM products WHERE Name LIKE ?\";\nmsg.payload = [msg.payload.text];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":1140,"wires":[[]]},{"id":"8da7846c08257ba8","type":"function","z":"b0823cca61e55da7","name":"UPDATE","func":"msg.topic = \"UPDATE products SET Name = 'Ciao Bella', Description = 'Ciao Bella' WHERE Number = ?\";\nmsg.payload = [msg.payload.text];\nreturn msg;\n\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":1020,"wires":[[]]},{"id":"573d0e1e89e7c8c3","type":"comment","z":"b0823cca61e55da7","name":"DATABASE FLOW","info":"\n    ","x":910,"y":760,"wires":[]},{"id":"a8c4e1ca26da8210","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM ADD PRODUCT","group":"54bca71e.4287f","order":1,"width":6,"height":1,"options":[{"label":"Product Name","value":"productName","type":"text","required":true,"rows":null},{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null},{"label":"Product Description","value":"productDescription","type":"text","required":true,"rows":null},{"label":"Product Area","value":"productArea","type":"text","required":true,"rows":null}],"formValue":{"productName":"","serialNumber":"","productDescription":"","productArea":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"Form","topicType":"str","splitLayout":false,"className":"","x":170,"y":880,"wires":[["bbdcd9a6f53fcbab"]]},{"id":"6f0e37f359e5573d","type":"debug","z":"b0823cca61e55da7","name":"Dashboard Log","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1104,"y":937,"wires":[]},{"id":"ad4f1c61372e00bb","type":"function","z":"b0823cca61e55da7","name":"Save Events","func":"\n// initialise the counter to 0 if it doesn't exist already\nvar dashboardLog = context.get('dashboardLog')|| [];\n\ndashboardLog.push(msg);\nif (dashboardLog.length > 20){\n    // Delete oldest message if > 20\n    dashboardLog.shift();\n    dashboardLog.length = 20;\n} \n\n\n// store the value back\ncontext.set('dashboardLog',dashboardLog);\n\n// make it part of the outgoing msg object\nmsg = {};\nmsg.payload = dashboardLog;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":894,"y":917,"wires":[["6f0e37f359e5573d","8099571f47a68b76"]]},{"id":"8099571f47a68b76","type":"ui_template","z":"b0823cca61e55da7","group":"d68e7be3.88f088","name":"Dashboard Event Log ","order":3,"width":5,"height":6,"format":"<ul>\n <li ng-repeat=\"x in msg.payload\">\n <font color=\"red\">{{x.topic}}</font>\n    <ul>\n        <li>{{x.payload}}</li>\n    </ul>\n </li>\n</ul>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","className":"","x":1120,"y":900,"wires":[[]]},{"id":"1a3da59e6601e9f9","type":"ui_table","z":"b0823cca61e55da7","group":"4d9f07f5ae42afac","name":"","order":1,"width":14,"height":6,"columns":[],"outputs":0,"cts":false,"x":1370,"y":840,"wires":[]},{"id":"d39da7865c1ccd2b","type":"function","z":"b0823cca61e55da7","name":"search-query","func":"//msg.topic=\"SELECT CONCAT('M00','',test.id) AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nmsg.topic=\"SELECT test.id AS id,test.name AS name,lastname.lastname AS lastname,test.code AS code,test.married AS married FROM test INNER JOIN lastname ON lastname.id = test.lastname ORDER BY test.id DESC\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":110,"y":1060,"wires":[[]]},{"id":"f52f7c4519370d45","type":"ui_button","z":"b0823cca61e55da7","name":"","group":"6eb2a5.27c0255c","order":2,"width":3,"height":1,"passthru":false,"label":"UPDATE","tooltip":"init table by passing the hole table array (default way)","color":"","bgcolor":"","className":"","icon":"update","payload":"","payloadType":"num","topic":"","topicType":"str","x":100,"y":680,"wires":[[]]},{"id":"c871d3db5ad265d3","type":"ui_template","z":"b0823cca61e55da7","group":"d68e7be3.88f088","name":"","order":1,"width":0,"height":0,"format":"<div>\n    <img src= \"http://192.168.1.4/\" width = \"250\" height = \"250\">\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":540,"y":560,"wires":[[]]},{"id":"a76668b6c58d736d","type":"mqtt out","z":"b0823cca61e55da7","name":"Release Object","topic":"robotics/release","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1180,"y":540,"wires":[]},{"id":"40d308a3da945a2c","type":"function","z":"b0823cca61e55da7","name":"DELETE","func":"var number = msg.payload.text;\nmsg.payload = [number];\nmsg.topic = \"DELETE FROM products WHERE Number = ?\";\nreturn msg;\n\n\n//msg.topic = \"DELETE FROM products WHERE Number = ?\";\n//msg.payload = [msg.payload.text];\n//return msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":800,"wires":[["6bfe6c28c259a22b"]]},{"id":"14f2c94f50fccd9e","type":"function","z":"b0823cca61e55da7","name":"SELECT","func":"msg.topic = \"SELECT * FROM products\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":840,"wires":[["6bfe6c28c259a22b"]]},{"id":"b4a5b3637bc142db","type":"function","z":"b0823cca61e55da7","name":"SELECT","func":"msg.topic = \"SELECT * FROM products\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1080,"y":840,"wires":[["5cb68d21ebaeded0"]]},{"id":"5cb68d21ebaeded0","type":"mysql","z":"b0823cca61e55da7","mydb":"46995d18ea56d5e9","name":"Warehouse","x":1230,"y":840,"wires":[["1a3da59e6601e9f9"]]},{"id":"e2e2d8c57d01113c","type":"ui_button","z":"b0823cca61e55da7","name":"","group":"6eb2a5.27c0255c","order":5,"width":3,"height":1,"passthru":false,"label":"DELETE","tooltip":"clear all table data","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"","topicType":"str","x":100,"y":720,"wires":[[]]},{"id":"12af7222ebcd84e5","type":"ui_form","z":"b0823cca61e55da7","name":"","label":"FORM DELETE PRODUCT","group":"54bca71e.4287f","order":1,"width":6,"height":1,"options":[{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null}],"formValue":{"serialNumber":""},"payload":"","submit":"Delete","cancel":"Cancel","topic":"payload","topicType":"msg","splitLayout":false,"className":"","x":180,"y":920,"wires":[["546e4ab77bfda83e"]]},{"id":"546e4ab77bfda83e","type":"function","z":"b0823cca61e55da7","name":"DELETE","func":"var number = msg.payload.serialNumber;\nmsg.payload = [number];\nmsg.topic = \"DELETE FROM products WHERE Number = ?\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":920,"wires":[["6bfe6c28c259a22b"]]},{"id":"0dac98353f8354f9","type":"function","z":"b0823cca61e55da7","name":"","func":"\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":1020,"wires":[[]]},{"id":"145ff856c027dbcc","type":"ui_switch","z":"68677633e139a729","name":"","label":"Activate Robotic Arm","tooltip":"","group":"75c207ea7de8d2ad","order":5,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":1440,"y":100,"wires":[["592d8a0978c97ce7"]]},{"id":"1c2f8473da25bd21","type":"ui_slider","z":"68677633e139a729","name":"","label":"base","tooltip":"","group":"75c207ea7de8d2ad","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1390,"y":160,"wires":[["cc540a700940a18c"]]},{"id":"40b11ce4ddfcaabc","type":"ui_slider","z":"68677633e139a729","name":"","label":"shoulder","tooltip":"","group":"75c207ea7de8d2ad","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1400,"y":220,"wires":[["96abeeadb9d5b3c7"]]},{"id":"a7609a70666eeb76","type":"ui_slider","z":"68677633e139a729","name":"","label":"elbow","tooltip":"","group":"75c207ea7de8d2ad","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1390,"y":280,"wires":[["dff868e890542f2f"]]},{"id":"436181908d5a331e","type":"ui_slider","z":"68677633e139a729","name":"","label":"gripper","tooltip":"","group":"75c207ea7de8d2ad","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":1400,"y":340,"wires":[["327d3170c1c2d2c4"]]},{"id":"592d8a0978c97ce7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/controller","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1650,"y":100,"wires":[]},{"id":"cc540a700940a18c","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/baseArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1630,"y":160,"wires":[]},{"id":"96abeeadb9d5b3c7","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/shoulderArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1620,"y":220,"wires":[]},{"id":"dff868e890542f2f","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/elbowArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1630,"y":280,"wires":[]},{"id":"327d3170c1c2d2c4","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/gripperArm","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1620,"y":340,"wires":[]},{"id":"14997a7fc0babab9","type":"comment","z":"68677633e139a729","name":"ROBOTIC ARM CONTROL","info":"\n    ","x":1530,"y":60,"wires":[]},{"id":"68ba74cb73ae8b54","type":"ui_slider","z":"68677633e139a729","name":"","label":"RIGHT","tooltip":"","group":"b572048ea1e99b76","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":850,"y":160,"wires":[["3b4dc4333f4b6b66"]]},{"id":"8de3d8fc4995451d","type":"ui_slider","z":"68677633e139a729","name":"","label":"LEFT","tooltip":"","group":"b572048ea1e99b76","order":1,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":850,"y":220,"wires":[["ba3fe61744397114"]]},{"id":"3b4dc4333f4b6b66","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/right","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1080,"y":160,"wires":[]},{"id":"ba3fe61744397114","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/left","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1050,"y":220,"wires":[]},{"id":"6d2994f842c9753c","type":"comment","z":"68677633e139a729","name":"ROBOTIC CAR CONTROL","info":"\n    ","x":990,"y":60,"wires":[]},{"id":"81b23d7514d537c2","type":"ui_slider","z":"68677633e139a729","name":"","label":"FRONT","tooltip":"","group":"b572048ea1e99b76","order":3,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":860,"y":280,"wires":[["657bf03f64cdaf55"]]},{"id":"f7577f08b1f71e6c","type":"ui_slider","z":"68677633e139a729","name":"","label":"BACK","tooltip":"","group":"b572048ea1e99b76","order":4,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"className":"","x":850,"y":340,"wires":[["d9d6637208fc4f0b"]]},{"id":"657bf03f64cdaf55","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/front","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1080,"y":280,"wires":[]},{"id":"d9d6637208fc4f0b","type":"mqtt out","z":"68677633e139a729","name":"","topic":"robotics/back","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10e78a89.5b4fd5","x":1060,"y":340,"wires":[]},{"id":"44193d2cebeda968","type":"ui_template","z":"b716fdc48724e610","group":"9eb19ca7ae6787ba","name":"","order":1,"width":"6","height":"6","format":"<img src={{msg.payload}}>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":660,"y":140,"wires":[[]]},{"id":"95d86b5ab4a91766","type":"inject","z":"b716fdc48724e610","name":"","props":[{"p":"qrcodeinput","v":"123456","vt":"str"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":230,"y":80,"wires":[["7e3845373bd3bd76"]]},{"id":"7e3845373bd3bd76","type":"qrcode-generator","z":"b716fdc48724e610","name":"","qrtype":"text2qr","text2qrText":"","ssid":"ISHIELDS","hiddenssid":false,"wifitype":"WPA","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":true,"x":430,"y":140,"wires":[["44193d2cebeda968"]]},{"id":"7681451e388b9f92","type":"ui_form","z":"b716fdc48724e610","name":"","label":"FORM CREATE QR CODE","group":"9eb19ca7ae6787ba","order":1,"width":6,"height":1,"options":[{"label":"Serial Number","value":"serialNumber","type":"text","required":true,"rows":null}],"formValue":{"serialNumber":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"msg.qrcodeinput","topicType":"str","splitLayout":false,"className":"","x":200,"y":140,"wires":[["7e3845373bd3bd76"]]}]