NodeRed Flow/Sensing Node.json
[
    {
        "id": "b0823cca61e55da7",
        "type": "tab",
        "label": "Sensing Node",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e8587b31d5e3958",
        "type": "mqtt in",
        "z": "b0823cca61e55da7",
        "name": "Temperature (C)",
        "topic": "esp32/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 220,
        "wires": [
            [
                "bddceb359443ec2f",
                "0f60524dda1940ac",
                "3150f002f5fc4293",
                "16ef59f2ee8280d9"
            ]
        ]
    },
    {
        "id": "bddceb359443ec2f",
        "type": "debug",
        "z": "b0823cca61e55da7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "e9a04611b96c4334",
        "type": "mqtt in",
        "z": "b0823cca61e55da7",
        "name": "Humidity",
        "topic": "esp32/humidity",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 300,
        "wires": [
            [
                "bddceb359443ec2f",
                "bb0af1f916b2470a",
                "1f48cb9349094209"
            ]
        ]
    },
    {
        "id": "cebaa277d3bc1cec",
        "type": "mqtt in",
        "z": "b0823cca61e55da7",
        "name": "Temperature (F)",
        "topic": "esp32/fahrenheit",
        "qos": "2",
        "datatype": "auto",
        "broker": "10e78a89.5b4fd5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 280,
        "y": 380,
        "wires": [
            [
                "bddceb359443ec2f",
                "17f5248110c65ca0"
            ]
        ]
    },
    {
        "id": "e08594561f096549",
        "type": "mqtt out",
        "z": "b0823cca61e55da7",
        "name": "",
        "topic": "esp32/limits",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "10e78a89.5b4fd5",
        "x": 690,
        "y": 440,
        "wires": []
    },
    {
        "id": "a3a5740c751e4f50",
        "type": "inject",
        "z": "b0823cca61e55da7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "24",
        "payloadType": "num",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "96cfc271c26da4cd"
            ]
        ]
    },
    {
        "id": "96cfc271c26da4cd",
        "type": "ui_slider",
        "z": "b0823cca61e55da7",
        "name": "",
        "label": "Threshold",
        "tooltip": "",
        "group": "8059ff6e210c8d69",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "-20",
        "max": "50",
        "step": 1,
        "className": "",
        "x": 280,
        "y": 440,
        "wires": [
            [
                "f167b9a7ac5c29b2",
                "e08594561f096549"
            ]
        ]
    },
    {
        "id": "0f60524dda1940ac",
        "type": "ui_text",
        "z": "b0823cca61e55da7",
        "group": "a394a7850460ce4d",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Celsius (&deg;C):",
        "format": "{{msg.payload}} ",
        "layout": "row-center",
        "className": "",
        "x": 710,
        "y": 340,
        "wires": []
    },
    {
        "id": "17f5248110c65ca0",
        "type": "ui_text",
        "z": "b0823cca61e55da7",
        "group": "a394a7850460ce4d",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fahrenheit (&deg;F):",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "bb0af1f916b2470a",
        "type": "ui_text",
        "z": "b0823cca61e55da7",
        "group": "a394a7850460ce4d",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity (%):",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 700,
        "y": 380,
        "wires": []
    },
    {
        "id": "f167b9a7ac5c29b2",
        "type": "ui_text",
        "z": "b0823cca61e55da7",
        "group": "8059ff6e210c8d69",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Set Threshold (&deg;C):",
        "format": "{{msg.payload}} ",
        "layout": "row-center",
        "className": "",
        "x": 730,
        "y": 500,
        "wires": []
    },
    {
        "id": "1f48cb9349094209",
        "type": "ui_gauge",
        "z": "b0823cca61e55da7",
        "name": "",
        "group": "9b81e2344ff56dd1",
        "order": 4,
        "width": "12",
        "height": "4",
        "gtype": "donut",
        "title": "Humidity:",
        "label": "",
        "format": "{{value}} %",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "className": "",
        "x": 680,
        "y": 240,
        "wires": []
    },
    {
        "id": "16ef59f2ee8280d9",
        "type": "ui_gauge",
        "z": "b0823cca61e55da7",
        "name": "",
        "group": "9b81e2344ff56dd1",
        "order": 4,
        "width": "12",
        "height": "4",
        "gtype": "gage",
        "title": "Temperature:",
        "label": "",
        "format": "{{value}} °C",
        "min": "-20",
        "max": "50",
        "colors": [
            "#008fb3",
            "#e2e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "className": "",
        "x": 690,
        "y": 160,
        "wires": []
    },
    {
        "id": "3150f002f5fc4293",
        "type": "ui_chart",
        "z": "b0823cca61e55da7",
        "name": "",
        "group": "9b81e2344ff56dd1",
        "order": 5,
        "width": "12",
        "height": "6",
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm",
        "interpolate": "step",
        "nodata": "",
        "dot": false,
        "ymin": "-20",
        "ymax": "50",
        "removeOlder": "30",
        "removeOlderPoints": "1000",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 690,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "10e78a89.5b4fd5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "raspberrypi",
        "port": "1883",
        "tls": "7e5d8e758d6a1640",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "8059ff6e210c8d69",
        "type": "ui_group",
        "name": "Setting",
        "tab": "7d59b044a85dec4a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "a394a7850460ce4d",
        "type": "ui_group",
        "name": "Measurement",
        "tab": "7d59b044a85dec4a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "9b81e2344ff56dd1",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "7d59b044a85dec4a",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7e5d8e758d6a1640",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "mosq_client.pem",
        "keyname": "mosq_client.key.pem",
        "caname": "mosq_ca.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "7d59b044a85dec4a",
        "type": "ui_tab",
        "name": "Temperature and Humidity Monitoring System",
        "icon": "",
        "disabled": false,
        "hidden": false
    }
]